<div class="invoice-items">
    <h2>Items</h2>
    <table>
      <thead>
        <tr>
          <th>Product No</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Discount (%)</th>
          <th>Tax</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.productNo }}</td>
          <td>{{ item.productLocalizedName }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.totalDiscountPercent }}</td>
          <td>{{ item.taxPrice }}</td>
          <td>{{ item.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  