@font-face {
    font-family: IranSans;

    src: url('./eot/IRANSansWeb(FaNum).eot');
    src: url('./eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
         url('./woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
         url('./woff/IRANSansWeb(FaNum).woff') format('woff'),
         url('./ttf/IRANSansWeb(FaNum).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('./eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('./eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
         url('./woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
         url('./woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
         url('./ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('./eot/IRANSans(FaNum)_Medium.eot');
    src: url('./eot/IRANSans(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
         url('./woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
         url('./woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
         url('./ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('./eot/IRANSans(FaNum)_Medium.eot');
    src: url('./eot/IRANSans(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
         url('./woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
         url('./woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
         url('./ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('./eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('./eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
         url('./woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
         url('./woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
         url('./ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}