<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1"> لیست سایر موارد سفارش <strong
                     dir="ltr"    style="color: rgb(11, 51, 11);">{{returnOrder.number}}</strong> </h4>
            </div><!-- end card header -->

            <div class="card-body">

              

                <div class="search-box d-inline-block mb-2">
                    <input type="text" class="form-control search" placeholder="جستجو ..."
                        [(ngModel)]="service.searchTerm">
                    <i class="ri-search-line search-icon"></i>
                </div> 

                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead>
                            <tr>
                             
                                <th class="sort"> وضعیت</th>
                                <th class="sort"> جزئیات</th>
                                <th class="sort"> تاریخ</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of gridjsList$ | async" id="lj_{{data.id}}">
                             
                                <td> <ngb-highlight [result]="data.returnOrderStatusName"
                                    [term]="service.searchTerm"></ngb-highlight>
                            </td>

                                <td> <ngb-highlight [result]="data.details"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>

                                <td> <ngb-highlight [result]="data.created"
                                    [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            نمایش
                            {{service.totalRecords !== 0 ? service.startIndex : 0}} تا
                            {{service.endIndex}} از {{service.totalRecords}}
                            داده
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-5">
                        <div class="text-md-right float-md-end gridjs-pagination">
                            <ngb-pagination [collectionSize]="(total$ | async)!" [maxSize]="10" [(page)]="service.page"
                                [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

