<!-- Start Breadcrumbs -->
<app-breadcrumbs title=" محصول " [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->




<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">لیست محصولات</h4>
            </div><!-- end card header -->

            <div class="card-body">

                <div class="mb-lg-3 row">
                    <div class="col-lg-8">
                        <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">

                            <button (click)="openInsertModal()" type="button" class="btn btn-outline-primary "><i
                                    class="icon-content-blue las la-plus label-icon align-middle fs-20"></i> </button>
                            <button (click)="deleteMultiple(deleteModel)" type="button"
                                class="btn btn-outline-primary "><i
                                    class="icon-content-red las la-trash label-icon align-middle fs-20"></i> </button>

                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4">
                        <div style="float: left;" class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
                            <button type="button" (click)="openGetDetailExportExcelModal()"
                                class="btn btn-outline-primary "><i
                                    class="las la-file-excel label-icon align-middle fs-20"></i> </button>
                            <button type="button" class="btn btn-outline-primary" (click)="exportExcel()"
                                [class.btn-outline-loading]="inProgressAllExportbtn"
                                [disabled]="inProgressAllExportbtn">
                                <ng-container *ngIf="!inProgressAllExportbtn; else loadingTemplate">
                                    <i class=" ri-file-excel-2-line label-icon align-middle fs-20"></i>
                                </ng-container>
                                <ng-template #loadingTemplate>
                                    <span class="visually-hidden">Loading...</span>
                                </ng-template>
                            </button>
                            <button type="button" class="btn btn-outline-primary "><i
                                    class="las la-file-upload label-icon align-middle fs-20"></i> </button>
                            <button type="button" class="btn btn-outline-primary "><i
                                    class="las la-print label-icon align-middle fs-20"></i> </button>
                        </div>
                    </div><!--end col-->

                </div><!--end row-->


                <div class="search-box d-inline-block mb-2">
                    <input type="text" class="form-control search" placeholder="جستجو ..."
                        [(ngModel)]="service.searchTerm">
                    <i class="ri-search-line search-icon"></i>
                </div>

                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead>
                            <tr>
                                <th style="width: 4px;"></th>
                                <th style="width: 30px;" class="sort" sortable="localizedName" (sort)="onSort($event)">
                                    نام فارسی</th>
                                <th style="width: 30px;" class="sort" sortable="name" (sort)="onSort($event)">نام
                                    انگلیسی</th>
                                <th class="sort" sortable="code" (sort)="onSort($event)">کد</th>
                                <th class="sort" sortable="productNo" (sort)="onSort($event)">کد محصول</th>
                                <th class="sort" sortable="productCatalog" (sort)="onSort($event)">کد شناسایی کالا در
                                    کاتالوگ</th>
                                <th class="sort" sortable="mileage" (sort)="onSort($event)">کیلومتر گارانتی</th>
                                <th class="sort" sortable="duration" (sort)="onSort($event)"> تعداد ماه گارانتی</th>
                                <th class="sort" sortable="excerpt" (sort)="onSort($event)"> گزیده</th>
                                <th class="sort" sortable="description" (sort)="onSort($event)"> توضیحات</th>
                                <th class="sort" sortable="slug" (sort)="onSort($event)"> نام اختصار</th>
                                <th class="sort" sortable="sku" (sort)="onSort($event)"> اس کا یو</th>
                                <th class="sort" sortable="compatibilityName" (sort)="onSort($event)"> سازگاری</th>
                                <th class="sort" sortable="providerName" (sort)="onSort($event)"> تامین کننده</th>
                                <th class="sort" sortable="countryName" (sort)="onSort($event)">کشور</th>
                                <th class="sort" sortable="productTypeName" (sort)="onSort($event)"> نوع محصول</th>
                                <th class="sort" sortable="productStatusName" (sort)="onSort($event)"> اصالت محصول</th>
                                <th class="sort" sortable="mainCountingUnitName" (sort)="onSort($event)"> واحد شمارش
                                    اصلی</th>
                                <th class="sort" sortable="commonCountingUnitName" (sort)="onSort($event)"> واحد شمارش
                                    فرعی</th>
                                <th class="sort" sortable="brandName" (sort)="onSort($event)"> برند</th>
                                <th class="sort" sortable="productCategoryName" (sort)="onSort($event)"> دسته بندی</th>
                                <th class="sort" sortable="productAttributeTypeName" (sort)="onSort($event)"> نوع ویژگی
                                    های محصول</th>
                                <th class="sort" sortable="isActive" (sort)="onSort($event)">فعال</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of gridjsList$ | async" id="lj_{{data.id}}">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkAll"
                                            [checked]="isChecked(data.id)" (change)="toggleCheckbox(data.id)">
                                    </div>
                                </td>
                                <td><ngb-highlight [result]="data.localizedName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.name" [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.code" [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.productNo"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.productCatalog"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.mileage?.toString()"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.duration?.toString()"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.excerpt" [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.description | summaryText:40"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.slug" [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.sku" [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.compatibilityName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.providerName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.countryName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.productTypeName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.productStatusName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.mainCountingUnitName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.commonCountingUnitName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.brandName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.productCategoryName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><ngb-highlight [result]="data.productAttributeTypeName"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td><strong *ngIf="data.isActive != null && data.isActive== true">بلی</strong>
                                    <strong *ngIf="data.isActive == null || data.isActive== false">خیر</strong>
                                </td>
                                <td data-column-id="actions">

                                    <a style="cursor: pointer;" (click)="edit(data)" _ngcontent-agu-c388="">
                                        <i _ngcontent-agu-c388=""
                                            class=" las la-edit label-icon align-middle fs-22 "></i>
                                    </a>
                                    <a style="cursor: pointer;" (click)="openMoreDetailProduct(data)"
                                        _ngcontent-agu-c388="">
                                        <i style="color: #405189;"
                                            class=" las la-tasks label-icon align-middle fs-22 "></i>
                                    </a>
                                    <!-- <a _ngcontent-agu-c388="" (click)="openDeleteConfirmationModal(data.id)"
                                        class="link-danger fs-15">
                                        <i _ngcontent-agu-c388="" class="ri-delete-bin-line"></i>
                                    </a> -->

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            نمایش
                            {{service.totalRecords !== 0 ? service.startIndex : 0}} تا
                            {{service.endIndex}} از {{service.totalRecords}}
                            داده
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-5">
                        <div class="text-md-right float-md-end gridjs-pagination">
                            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [maxSize]="5"
                                [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                        <div class="text-md-right float-md-end  d-flex align-items-center mx-2">
                            <label class="p-0 m-0 text-muted" for="pageSize">تعداد موارد در هر صفحه</label>
                            <select class="outline-none border border-gray p-1 mx-2" id="pageSize"
                                [(ngModel)]="service.pageSize" (change)="service.page = 1">
                                <option *ngFor="let size of [5, 10, 15, 20]" [value]="size">{{ size }}</option>
                            </select>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<ng-template #productTabModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header">
                    <div>

                        <ul ngbNav #customNav="ngbNav" [activeId]="1"
                            class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                            <li [ngbNavItem]="1" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                    تصاویر محصول
                                </a>
                                <ng-template ngbNavContent>

                                    <app-product-images [product]="selectedProduct"></app-product-images>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                    اطلاعات آپشن های محصول
                                </a>
                                <ng-template ngbNavContent>
                                    <app-product-attribute-option
                                        [product]="selectedProduct"></app-product-attribute-option>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                    انواع محصول
                                </a>
                                <ng-template ngbNavContent>
                                    <app-product-kinds [product]="selectedProduct"></app-product-kinds>
                                </ng-template>
                            </li>

                            <li [ngbNavItem]="4" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                    ویژگی محصول
                                </a>
                                <ng-template ngbNavContent>
                                    <app-product-attributes [product]="selectedProduct"></app-product-attributes>
                                </ng-template>
                            </li>

                            <li [ngbNavItem]="5" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                    نمایش های محصول
                                </a>
                                <ng-template ngbNavContent>
                                    <app-product-display-variants [product]="selectedProduct"></app-product-display-variants>
                                </ng-template>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div [ngbNavOutlet]="customNav"></div>
                    </div>
                </div>
            </div><!--end card-->
        </div>
    </div><!-- /.modal-content -->
</ng-template>



<ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                (click)="modal.dismiss('Cross click');"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>از حذف آیتم (های) انتخاب شده مطمئن هستید؟</h4>
                    <p class="text-muted mx-4 mb-0">تایید حذف به منزله حذف داده از پایگاه داده می باشد</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> انصراف</button>
                <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="deleteItems()"
                    [class.btn-loading]="inProgress" [disabled]="inProgress">
                    <ng-container *ngIf="!inProgress; else loadingTemplate">
                        حذف کن
                    </ng-container>
                    <ng-template #loadingTemplate>
                        <span class="visually-hidden">Loading...</span>
                    </ng-template>
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>


<!-- Delete Modal -->
<ng-template role="document" #formModal let-modal>
    <form class="row gy-1" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
            <h4 class="modal-title">محصول</h4>
            <button type="button" class="close" aria-label="Close"
                (click)="modal.dismiss();this.handleCloseFormModal();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row modal-body">

            <div class="mb-3 col-xxl-6 col-md-6">

                <label for="localizedName" class="form-label">نام فارسی</label>
                <input type="input" class="form-control" id="localizedName" formControlName="localizedName"
                    [ngClass]="{'is-invalid': form.localizedName.touched && form.localizedName.invalid}">
                <div *ngIf="form.localizedName.touched && form.localizedName.errors?.required" class="invalid-feedback">
                    وارد کردن نام فارسی اجباریست
                </div>
                <div *ngIf="form.localizedName.touched && form.localizedName.errors?.maxlength"
                    class="invalid-feedback">
                    نام فارسی نباید بیشتر از {{form.localizedName.errors?.maxlength.requiredLength}} کاراکتر باشد
                </div>
                <div *ngIf="form.localizedName.touched && form.localizedName.errors?.localizedNameTaken"
                    class="invalid-feedback">
                    محصولی با این نام فارسی موجود است
                </div>
                <div *ngIf="form.localizedName.touched && form.localizedName.pending">
                    یگانگی نام فارسی محصول در حال بررسی است
                </div>

            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">

                <label for="name" class="form-label">نام انگلیسی </label>
                <input type="input" class="form-control" id="name" formControlName="name"
                    [ngClass]="{'is-invalid': form.name.touched && form.name.invalid}">
                <div *ngIf="form.name.touched && form.name.errors?.required" class="invalid-feedback">
                    وارد کردن نام انگلیسی اجباریست
                </div>
                <div *ngIf="form.name.touched && form.name.errors?.maxlength" class="invalid-feedback">
                    نام انگلیسی نباید بیشتر از {{form.name.errors?.maxlength.requiredLength}} کاراکتر باشد
                </div>
                <div *ngIf="form.name.touched && form.name.errors?.nameTaken" class="invalid-feedback">
                    محصولی با این نام انگلیسی موجود است
                </div>
                <div *ngIf="form.name.touched && form.name.pending">
                    یگانگی نام انگلیسی محصول در حال بررسی است
                </div>
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="code" class="form-label">کد </label>
                <input type="input" class="form-control" id="code" formControlName="code"
                    [ngClass]="{'is-invalid': form.code.touched && form.code.invalid}">
                <div *ngIf="form.code.touched && form.code.errors?.required" class="invalid-feedback">
                    وارد کردن کد اجباریست
                </div>
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="productNo" class="form-label">کد محصول </label>
                <input type="input" class="form-control" id="productNo" formControlName="productNo"
                    [ngClass]="{'is-invalid': form.productNo.touched && form.productNo.invalid}">
                <div *ngIf="form.productNo.touched && form.productNo.errors?.required" class="invalid-feedback">
                    وارد کردن کد محصول اجباریست
                </div>
                <div *ngIf="form.productNo.touched && form.productNo.errors?.maxlength" class="invalid-feedback">
                    کد محصول نباید بیشتر از {{form.productNo.errors?.maxlength.requiredLength}} کاراکتر باشد
                </div>
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="oldProductNo" class="form-label">کد محصول قدیمی </label>
                <input type="input" class="form-control" id="oldProductNo" formControlName="oldProductNo"
                    [ngClass]="{'is-invalid': form.oldProductNo.touched && form.oldProductNo.invalid}">
                <div *ngIf="form.oldProductNo.touched && form.oldProductNo.errors?.required" class="invalid-feedback">
                    وارد کردن کد محصول قدیمی اجباریست
                </div>
                <div *ngIf="form.oldProductNo.touched && form.oldProductNo.errors?.maxlength" class="invalid-feedback">
                    کد محصول قدیمی نباید بیشتر از {{form.oldProductNo.errors?.maxlength.requiredLength}} کاراکتر باشد
                </div>
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="productCatalog" class="form-label">کد شناسایی کالا در کاتالوگ</label>
                <input type="input" class="form-control" id="productCatalog" formControlName="productCatalog"
                    [ngClass]="{'is-invalid': form.productCatalog.touched && form.productCatalog.invalid}">

            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="orderRate" class="form-label">ضریب سفارش دهی</label>
                <input type="input" class="form-control" id="orderRate" formControlName="orderRate"
                    [ngClass]="{'is-invalid': form.orderRate.touched && form.orderRate.invalid}">
                <div *ngIf="form.orderRate.touched && form.orderRate.errors?.required" class="invalid-feedback">
                    وارد کردن ضریب سفارش دهی اجباریست
                </div>
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="mileage" class="form-label">کیلومتر گارانتی</label>
                <input type="input" class="form-control" id="mileage" formControlName="mileage"
                    [ngClass]="{'is-invalid': form.mileage.touched && form.mileage.invalid}">
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="duration" class="form-label">تعداد ماه گارانتی</label>
                <input type="input" class="form-control" id="duration" formControlName="duration"
                    [ngClass]="{'is-invalid': form.duration.touched && form.duration.invalid}">
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="excerpt" class="form-label">گزیده</label>
                <input type="input" class="form-control" id="excerpt" formControlName="excerpt"
                    [ngClass]="{'is-invalid': form.excerpt.touched && form.excerpt.invalid}">
                <div *ngIf="form.excerpt.touched && form.excerpt.errors?.required" class="invalid-feedback">
                    وارد کردن گزیده اجباریست
                </div>
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="description" class="form-label">توضیحات</label>
                <textarea type="input" style="height: 120px;" class="form-control" id="description"
                    formControlName="description"
                    [ngClass]="{'is-invalid': form.description.touched && form.description.invalid}">
                </textarea>
                <div *ngIf="form.description.touched && form.description.errors?.required" class="invalid-feedback">
                    وارد کردن توضیحات اجباریست
                </div>
            </div><!--end col-->

            <div class=" mb-3 col-xxl-6 col-md-6">

                <label for="sku" class="form-label">sku </label>
                <input type="input" class="form-control" id="sku" formControlName="sku"
                    [ngClass]="{'is-invalid': form.sku.touched && form.sku.invalid}">
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">

                <label for="providerId" class="form-label">فروشنده</label>
                <select [(ngModel)]="providerId" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="انتخاب محصول" id="providerId"
                    [ngClass]="{'is-invalid': form.providerId.touched && form.providerId.invalid}"
                    formControlName="providerId">
                    <option *ngFor="let option of providerList" [value]="option.id">{{ option.localizedName }}</option>
                </select>
            </div><!--end col-->


            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="countryId" class="form-label"> کشور سازنده </label>
                <select [(ngModel)]="countryId" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="انتخاب محصول" id="countryId"
                    [ngClass]="{'is-invalid': form.countryId.touched && form.countryId.invalid}"
                    formControlName="countryId">
                    <option *ngFor="let option of countryList" [value]="option.id">{{ option.localizedName }}</option>
                </select>
            </div><!--end col-->


            <div class="mb-3  col-xxl-6 col-md-6">

                <label for="productTypeId" class="form-label"> نوع محصول </label>
                <select [(ngModel)]="productTypeId" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="انتخاب نوع محصول" id="productTypeId"
                    [ngClass]="{'is-invalid': form.productTypeId.touched && form.productTypeId.invalid}"
                    formControlName="productTypeId">
                    <option *ngFor="let option of productTypeList" [value]="option.id">{{ option.localizedName }}
                    </option>
                </select>


            </div><!--end col-->


            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="productStatusId" class="form-label">وضعیت محصول</label>
                <select [(ngModel)]="productStatusId" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="انتخاب محصول" id="productStatusId"
                    [ngClass]="{'is-invalid': form.productStatusId.touched && form.productStatusId.invalid}"
                    formControlName="productStatusId">
                    <option *ngFor="let option of productStatusList" [value]="option.id">{{ option.localizedName }}
                    </option>
                </select>
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="mainCountingUnitId" class="form-label">واحد شمارش اصلی</label>
                <select [(ngModel)]="mainCountingUnitId" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="امنتخاب واحد شمارش اصلی" id="mainCountingUnitId"
                    [ngClass]="{'is-invalid': form.mainCountingUnitId.touched && form.mainCountingUnitId.invalid}"
                    formControlName="mainCountingUnitId">
                    <option *ngFor="let option of countingUnitsList" [value]="option.id">{{ option.localizedName }}
                    </option>
                </select>
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="commonCountingUnitId" class="form-label">واحد شمارش رایج</label>
                <select [(ngModel)]="commonCountingUnitId" style="margin-bottom: 0px !important;"
                    class="form-select mb-3" aria-label="امنتخاب واحد شمارش رایج" id="commonCountingUnitId"
                    [ngClass]="{'is-invalid': form.commonCountingUnitId.touched && form.commonCountingUnitId.invalid}"
                    formControlName="commonCountingUnitId">
                    <option *ngFor="let option of countingUnitsList" [value]="option.id">{{ option.localizedName }}
                    </option>
                </select>
            </div><!--end col-->


            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="brandId" class="form-label">برند محصول</label>
                <select [(ngModel)]="brandId" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="امنتخاب برند محصول" id="brandId"
                    [ngClass]="{'is-invalid': form.brandId.touched && form.brandId.invalid}" formControlName="brandId">
                    <option *ngFor="let option of brandList" [value]="option.id">{{ option.localizedName }}</option>
                </select>
                <div *ngIf="form.brandId.touched && form.brandId.errors?.required" class="invalid-feedback">
                    انتخاب برند محصول اجباریست
                </div>
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="productCategoryId" class="form-label">دسته محصول</label>
                <select [(ngModel)]="productCategoryId" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="انتخاب دسته محصول" id="productCategoryId"
                    [ngClass]="{'is-invalid': form.productCategoryId.touched && form.productCategoryId.invalid}"
                    formControlName="productCategoryId">
                    <option *ngFor="let option of productCategoryList" [value]="option.id">{{ option.localizedName }}
                    </option>
                </select>
                <div *ngIf="form.productCategoryId.touched && form.productCategoryId.errors?.required"
                    class="invalid-feedback">
                    انتخاب دسته محصول اجباریست
                </div>
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="productAttributeTypeId" class="form-label">نوع ویژگی محصول</label>
                <select [(ngModel)]="productAttributeTypeId" style="margin-bottom: 0px !important;"
                    class="form-select mb-3" aria-label="امنتخاب قابلیت دسترسی " id="productAttributeTypeId"
                    [ngClass]="{'is-invalid': form.productAttributeTypeId.touched && form.productAttributeTypeId.invalid}"
                    formControlName="productAttributeTypeId">
                    <option *ngFor="let option of poductAttributeTypeList" [value]="option.id">{{ option.name }}
                    </option>
                </select>
                <div *ngIf="form.productAttributeTypeId.touched && form.productAttributeTypeId.errors?.required"
                    class="invalid-feedback">
                    انتخاب نوع ویژگی محصول اجباریست
                </div>
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="productOptionColorId" class="form-label">نوع آپشن رنگ محصول</label>
                <select [(ngModel)]="productOptionColorId" style="margin-bottom: 0px !important;"
                    class="form-select mb-3" aria-label="امنتخاب قابلیت دسترسی " id="productOptionColorId"
                    [ngClass]="{'is-invalid': form.productOptionColorId.touched && form.productOptionColorId.invalid}"
                    formControlName="productOptionColorId">
                    <option [value]="null">ندارد</option>
                    <option *ngFor="let option of productOptionColorsList" [value]="option.id">{{ option.name }}
                    </option>
                </select>
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="productOptionMaterialId" class="form-label">نوع آپشن جنس محصول</label>
                <select [(ngModel)]="productOptionMaterialId" style="margin-bottom: 0px !important;"
                    class="form-select mb-3" aria-label="امنتخاب قابلیت دسترسی " id="productOptionMaterialId"
                    [ngClass]="{'is-invalid': form.productOptionMaterialId.touched && form.productOptionMaterialId.invalid}"
                    formControlName="productOptionMaterialId">
                    <option [value]="null">ندارد</option>
                    <option *ngFor="let option of productOptionMaterialsList" [value]="option.id">{{ option.name }}
                    </option>
                </select>
            </div><!--end col-->

            <div class="mb-3  col-xxl-6 col-md-6">
                <label for="compatibility" class="form-label">سازگاری محصول</label>
                <select [(ngModel)]="compatibility" style="margin-bottom: 0px !important;" class="form-select mb-3"
                    aria-label="امنتخاب قابلیت دسترسی " id="compatibility"
                    [ngClass]="{'is-invalid': form.compatibility.touched && form.compatibility.invalid}"
                    formControlName="compatibility">
                    <option *ngFor="let option of compatibilityList" [value]="option.id">{{ option.name }}</option>
                </select>
                <div *ngIf="form.compatibility.touched && form.compatibility.errors?.required" class="invalid-feedback">
                    انتخاب سازگاری محصول اجباریست
                </div>
            </div><!--end col-->

            <div class="form-check form-switch mb-3 col-xxl-6 col-md-6 w-auto">
                <input class="form-check-input" type="checkbox" role="switch" id="isActive" formControlName="isActive"
                    [ngClass]="{
                    'is-invalid': form.isActive.touched && form.isActive.invalid
                  }" />
                <label class="form-check-label" for="isActive">قابل نمایش</label>
            </div>
            <!--end col-->

        </div>
        <div class="modal-footer">

            <button type="button" (click)="modal.dismiss('Cross click'); this.handleCloseFormModal();"
                style="margin-left:5px" class="btn btn-warning">انصراف</button>
            <button type="button" (click)="resetForm()" style="margin-left:5px" class="btn btn-warning">پاک کردن
                فرم</button>
            <button class="btn btn-primary" [class.btn-loading]="inProgress" [disabled]="inProgress" type="submit">
                <ng-container *ngIf="!inProgress; else loadingTemplate">
                    ذخیره
                </ng-container>
                <ng-template #loadingTemplate>
                    <span class="visually-hidden">Loading...</span>
                </ng-template>
            </button>

        </div>
    </form>
</ng-template>

<ng-template #getDetailExportTabModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <app-export-excel-modal [client]="this.client" [clientQuery]="'exportExcelQuery'">

            </app-export-excel-modal>
        </div>
    </div>
</ng-template>