<div class="card">
    <div class="card-header">
        <h5>{{ 'HEADER_CHANGE_PASSWORD'|translate }}</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-body--padding--2">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6" [formGroup]="form">
                <div *ngIf="form.errors && form.errors['server']" class="alert alert-sm alert-danger">
                    {{ ((form.errors && form.errors['server']) || '')|translate }}
                </div>
                <div class="form-group">
                    <div class="form-label-group"> 
                        <input
                            [type]="showCurrentPassword ? 'text' : 'password'"
                            id="password-current"
                            formControlName="currentPassword"
                            class="form-control"
                            [class.is-invalid]="form.controls['currentPassword']|isInvalid"
                            [placeholder]="'INPUT_PASSWORD_CURRENT_PLACEHOLDER'|translate" 
                        >
                        <label for="password-current">{{ 'INPUT_PASSWORD_CURRENT_LABEL'|translate }}</label>
                        <span type="button"
                        (click)="toggleCurrentPasswordVisibility()" class="d-flex align-items-center px-2 position-absolute">
                        <i class="fas text-secondary"
                       [ngClass]="{'fa-eye': showCurrentPassword, 'fa-eye-slash': !showCurrentPassword}"></i>
                   </span>
                        <div class="invalid-feedback">
                            <div *ngIf="form.controls['currentPassword']|hasError:'required'">
                                {{ 'ERROR_FORM_REQUIRED'|translate }}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input
                        [type]="showPassword ? 'text' : 'password'"
                            id="password-new"
                            formControlName="newPassword"
                            class="form-control"
                            [class.is-invalid]="form.controls['newPassword']|isInvalid"
                            [placeholder]="'INPUT_PASSWORD_NEW_PLACEHOLDER'|translate"
                          
                        >
                        <label for="password-new">{{ 'INPUT_PASSWORD_NEW_LABEL'|translate }}</label>
                        <span type="button"
                             (click)="togglePasswordVisibility()" class="d-flex align-items-center px-2 position-absolute">
                             <i class="fas text-secondary"
                            [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                        </span>
                        <div class="invalid-feedback">
                            <div *ngIf="form.controls['newPassword']|hasError:'required'">
                                {{ 'ERROR_FORM_REQUIRED'|translate }}
                            </div>
                            <div *ngIf="form.controls['newPassword'].hasError('minlength')">
                                {{ 'ERROR_API_AUTH_WEAK_PASSWORD'|translate }}
                            </div>
                            <div *ngIf="form.controls['newPassword'].hasError('missingDigit')">
                                {{ 'ERROR_API_AUTH_PASSWORD_MISSINGDIGIT'|translate }}
                            </div>
                            <div *ngIf="form.controls['newPassword'].hasError('missingLowercase')">
                               {{"ERROR_API_AUTH_PASSWORD_REQUIRES_LOWER" | translate }}
                            </div>
                            <div *ngIf="form.controls['newPassword'].hasError('missingUppercase')">
                                {{"ERROR_API_AUTH_PASSWORD_REQUIRES_UPPER" | translate }}
                            </div>
                            <div *ngIf="form.controls['newPassword'].hasError('notEnoughUniqueChars')">
                                {{"ERROR_API_AUTH_PASSWORD_REQUIRES_UNIQUECHARS" | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        
                        <input
                        [type]="showConfirmPassword ? 'text' : 'password'"
                            id="password-confirm"
                            formControlName="confirmPassword"
                            class="form-control"
                            [class.is-invalid]="form.controls['confirmPassword']|isInvalid"
                            [placeholder]="'INPUT_PASSWORD_REPEAT_PLACEHOLDER'|translate"
                            
                        >
                        <label for="password-confirm">{{ 'INPUT_PASSWORD_REPEAT_LABEL'|translate }}</label>
                        <span class="d-flex align-items-center px-2 position-absolute" type="button"
                        (click)="toggleConfirmPasswordVisibility()">
                        <i class="fas text-secondary"
                            [ngClass]="{'fa-eye': showConfirmPassword, 'fa-eye-slash': !showConfirmPassword}"></i>
                    </span>
                        <div class="invalid-feedback">
                            <div *ngIf="form.controls['confirmPassword']|hasError:'required'">
                                {{ 'ERROR_FORM_REQUIRED'|translate }}
                            </div>
                            <div *ngIf="form.controls['confirmPassword']|hasError:'mustMatch'">
                                {{ 'ERROR_FORM_PASSWORD_DOES_NOT_MATCH'|translate }}
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="form-group mb-0">
                    <button
                        class="btn btn-primary mt-3"
                        [class.btn-loading]="saveInProgress"
                        (click)="save()"
                    >{{ 'BUTTON_CHANGE'|translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
