.search-bar{
    .input-box{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        ::placeholder{
            font-size: 14px;
        }
        input{
            outline: none;
            border: 1px solid #d6d6d6;
            font-size: 0.8rem;
        }
    }
}
