<div class="search-bar">
    <label class="filter-vehicle__item-label">
        <app-checkbox class="filter-list__input" [formControl]="control"></app-checkbox>
        <span class="filter-vehicle__item-title">
            اعمال کردن فیلتر
        </span>
    </label>
    <span class="filter-vehicle__item-title">
        جستجو در ویژگی های محصول و خودروهای مرتبط
    </span>
    <div class="input-box row m-0 p-0">
        <div class="col row p-0 m-0">
            <input type="text" class="my-2 my-sm-2 my-md-0 col"  id="search-input" placeholder="{{ placeHolder }}" value="{{this.defualtInput}}" #input>

        </div>
        <div>
            <button class="btn btn-primary btn-sm" (click)="setToForm(input.value)" id="search-button">جستجو</button> 
        </div>
    </div>
</div>