<div class="widget-newsletter__title">
    <h4>خبرنامه</h4>
</div>
<div class="widget-newsletter__form">
    <form action="">
        <div class="widget-newsletter__text">
            در خبرنامه‌های سازمانی بیش‌تر به معرفی چشم انداز، اهداف، استراتژی و سیاست‌های کل و جز سازمان پرداخته و به تغییر یا تثبیت تصویر محصول یا تصویر سازمان در ذهن علاقه‌مندان پرداخته می‌شود. معرفی محصولات جدید و شناساندن کانال‌های توزیع و فروش محصولات، از دیگر بخش‌های خبرنامه‌های سازمانی است.
        </div>
        <input type="text" class="widget-newsletter__email" placeholder="آدرس ایمیل...">
        <button type="button" class="widget-newsletter__button">ارسال</button>
    </form>
</div>
