<!-- Start Breadcrumbs -->
<app-breadcrumbs title="سقف اعتبار" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->




<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">لیست تغییرات سقف اعتبار</h4>
            </div><!-- end card header -->

            <div class="card-body">

                <div class="mb-lg-3 row">
                    <div class="col-lg-8">

                    </div><!--end col-->

                    <div class="col-lg-4">
                        <div style="float: left;" class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">

                            <button type="button" class="btn btn-outline-primary "><i
                                    class=" ri-file-excel-2-line label-icon align-middle fs-20"></i> </button>
                            <button type="button" class="btn btn-outline-primary "><i
                                    class="las la-file-upload label-icon align-middle fs-20"></i> </button>
                            <button type="button" class="btn btn-outline-primary "><i
                                    class="las la-print label-icon align-middle fs-20"></i> </button>
                        </div>
                    </div><!--end col-->

                </div><!--end row-->


                <div class="search-box d-inline-block mb-2">
                    <input type="text" class="form-control search" placeholder="جستجو ..."
                        [(ngModel)]="service.searchTerm">
                    <i class="ri-search-line search-icon"></i>
                </div>

                <div class="table-responsive">
                    <table class="table table-gridjs">
                        <thead>
                            <tr>
                                <!-- <th style="width: 4px;"></th> -->
                                <th> تاریخ ثبت</th>
                                <th> مقدار اعتبار</th>
                                <th> نام کاربر تغییردهنده</th>
                                <th> شناسه کاربر تغییردهنده</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of gridjsList$ | async" id="lj_{{data.id}}">
                                <td class="text-center"><ngb-highlight [result]="data.date.toString()"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td class="text-center"><ngb-highlight [result]="data.value.toString() | number:'1.0-0'"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td class="text-center"><ngb-highlight [result]="data.modifierUserName.toString()"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td class="text-center"><ngb-highlight [result]="data.modifierUserId.toString()"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite" >
                            نمایش
                            {{service.totalRecords !== 0 ? service.startIndex : 0}} تا
                            {{service.endIndex}} از {{service.totalRecords}}
                            داده
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-5">
                        <div class="text-md-right float-md-end gridjs-pagination">
                            <ngb-pagination [collectionSize]="(total$ | async)!" [maxSize]="10" [(page)]="service.page "
                                [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->