<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0 flex-grow-1">فرایند سفارش</h4>
      </div>
      <!-- end card header -->
      <div class="card-body">
        <div>
          <app-workflow-order [stepId]="currentStep" [orderId]="orderId" ></app-workflow-order>
        </div>
        <div dir="rtl">
          <div *ngIf="isLoaded">
            <mat-stepper orientation="vertical" [selectedIndex]="currentStep" #stepper>
              <!-- مرحله اول:  در انتظار ثبت -->
              <mat-step *ngIf="steps.includes(0)" [stepControl]="pendingForRegisterStateFormGroup"
                [label]="'در انتظار ثبت'">
                <p>{{pendingForRegisterState}}</p>
                <form [formGroup]="pendingForRegisterStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForRegisterStateFormGroupControl.details.touched && pendingForRegisterStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForRegisterStateFormGroupControl.details.touched && pendingForRegisterStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
              </mat-step>

              <!-- مرحله دوم:  در انتظار تایید پرداخت -->
              <mat-step *ngIf="steps.includes(1)" [stepControl]="pendingForConfirmPaymentStateFormGroup"
                [label]="'در انتظار تایید پرداخت'">
                <p>{{pendingForConfirmPaymentState}}</p>
                <form [formGroup]="pendingForConfirmPaymentStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForConfirmPaymentStateFormGroupControl.details.touched && pendingForConfirmPaymentStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForConfirmPaymentStateFormGroupControl.details.touched && pendingForConfirmPaymentStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 1"
                  (click)="openConfirmOperationModal(1,pendingForConfirmPaymentStateFormGroup)">تایید پرداخت</button>
                <button mat-raised-button class="m-1" color="warn" *ngIf="currentStep == 1"
                  (click)="openConfirmOperationModal(2,pendingForConfirmPaymentStateFormGroup)">عدم تایید
                  پرداخت</button>
                <button mat-raised-button class="m-1" color="warn" *ngIf="currentStep == 1"
                  (click)="openConfirmOperationModal(3,pendingForConfirmPaymentStateFormGroup)">لغو</button>
              </mat-step>
              <!-- مرحله سوم:  در انتظار تایید سفارش -->
              <mat-step *ngIf="currentStep >= 2" [stepControl]="pendingForConfirmStateFormGroup"
                [label]="'در انتظار تایید سفارش'">
                <p>{{pendingForConfirmState}}</p>
                <form [formGroup]="pendingForConfirmStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForConfirmStateFormGroupControl.details.touched && pendingForConfirmStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForConfirmStateFormGroupControl.details.touched && pendingForConfirmStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 2"
                  (click)="openConfirmOperationModal(4,pendingForConfirmStateFormGroup)">تایید</button>
                <button mat-raised-button class="m-1" color="warn" *ngIf="currentStep == 2"
                  (click)="openConfirmOperationModal(5,pendingForConfirmStateFormGroup)">عدم تایید</button>
                <button mat-raised-button class="m-1" color="warn" *ngIf="currentStep == 2"
                  (click)="openConfirmOperationModal(3,pendingForConfirmStateFormGroup)">لغو</button>
              </mat-step>

              <!-- مرحله چهارم:  در انتظار  آماده سازی -->
              <mat-step *ngIf="steps.includes(3)" [stepControl]="pendingForPrepareStateFormGroup"
                [label]="'در انتظار آماده سازی'">
                <p>{{pendingForPrepareState}}</p>
                <form [formGroup]="pendingForPrepareStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForPrepareStateFormGroupControl.details.touched && pendingForPrepareStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForPrepareStateFormGroupControl.details.touched && pendingForPrepareStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 3"
                  (click)="openConfirmOperationModal(6,pendingForPrepareStateFormGroup)">تایید آماده‌سازی سفارش</button>
                <button mat-raised-button class="m-1" color="warn" *ngIf="currentStep == 3"
                  (click)="openConfirmOperationModal(3,pendingForPrepareStateFormGroup)">لغو</button>
              </mat-step>

              <!-- مرحله پنجم:  در انتظار  ارسال  -->
              <mat-step *ngIf="steps.includes(4)" [stepControl]="pendingForShipStateFormGroup"
                [label]="'در انتظار ارسال'">
                <p>{{pendingForShipState}}</p>
                <form [formGroup]="pendingForShipStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForShipStateFormGroupControl.details.touched && pendingForShipStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForShipStateFormGroupControl.details.touched && pendingForShipStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 4"
                  (click)="openConfirmOperationModal(7,pendingForShipStateFormGroup)">تایید ارسال سفارش</button>
                <button mat-raised-button class="m-1" color="warn" *ngIf="currentStep == 4"
                  (click)="openConfirmOperationModal(3,pendingForShipStateFormGroup)">لغو</button>
              </mat-step>

              <!-- مرحله ششم: در انتظار بازگشت وجه احتمالی  -->
              <mat-step *ngIf="steps.includes(5)" [stepControl]="pendingForRefundStateFormGroup"
                [label]="'در انتظار بازگشت وجه احتمالی'">
                <p>{{pendingForRefundState}}</p>
                <form [formGroup]="pendingForRefundStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForRefundStateFormGroupControl.details.touched && pendingForRefundStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForRefundStateFormGroupControl.details.touched && pendingForRefundStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 5"
                  (click)="openConfirmOperationModal(8,pendingForRefundStateFormGroup)">تایید بازگشت وجه سفارش</button>
              </mat-step>

              <!-- مرحله هفتم:  در انتظار تکمیل فرایند سفارش  -->
              <mat-step *ngIf="steps.includes(6)" [stepControl]="pendingForCompletedStateFormGroup"
                [label]="'در انتظار تکمیل فرایند سفارش'">
                <p>{{pendingForCompletedState}}</p>
                <form [formGroup]="pendingForCompletedStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForCompletedStateFormGroupControl.details.touched && pendingForCompletedStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForCompletedStateFormGroupControl.details.touched && pendingForCompletedStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 6"
                  (click)="openConfirmOperationModal(9,pendingForCompletedStateFormGroup)">تایید تکمیل فرایند
                  سفارش</button>
              </mat-step>

              <!-- مرحله هشتم:   فرایند سفارش کامل شده  -->
              <mat-step *ngIf="steps.includes(7)" [stepControl]="completedStateFormGroup"
                [label]="'فرایند سفارش کامل شده'">
                <p>فرایند سفارش کامل شده است</p>
              </mat-step>


            </mat-stepper>
          </div>
        </div>
        <!--end rtl-->
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>

<ng-template #confirmOperation let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" trigger="loop"
          colors="primary:#405189,secondary:#f06548" style="width: 90px; height: 90px"></lord-icon>
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>از انجام عملیات مطمئن هستید؟</h4>
          <p class="text-muted mx-4 mb-0">
            تایید به منزله انجام عملیات می باشد
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">
          <i class="ri-close-line me-1 align-middle"></i> انصراف
        </button>
        <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="operate()"
          [class.btn-loading]="inProgress" [disabled]="inProgress">
          <ng-container *ngIf="!inProgress; else loadingTemplate">
            انجام عملیات
          </ng-container>
          <ng-template #loadingTemplate>
            <span class="visually-hidden">Loading...</span>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>