/* You can add global styles to this file, and also import other style files */
// --------------------------------------------------------------------------
// -- You can add your custom CSS here and it will overwrite template styles.
// --------------------------------------------------------------------------

.icon-content-blue {
    color: rgb(17, 106, 230);
}

.icon-content-red {
    color: rgb(241, 82, 82);
}


.icon-content-green {
    color: rgb(31, 207, 98);
}


.icon-content-darkgreen {
    color: rgb(11, 109, 49);
}

.icon-content-purple {
    color: rgb(141, 39, 118);
}
