<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="خوشه مدیریت کاربران"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0 flex-grow-1">لیست کارشناسان</h4>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <div class="mb-lg-3 row">
          <div class="col-lg-8">
            <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
              <button
                (click)="openInsertModal()"
                type="button"
                class="btn btn-outline-primary"
              >
                <i
                  class="icon-content-blue las la-plus label-icon align-middle fs-20"
                ></i>
              </button>
              <button
                (click)="changeMultiple(deactivateEmployee)"
                type="button"
                class="btn btn-outline-primary"
              >
                <i
                  class="icon-content-red las la-ban label-icon align-middle fs-20"
                ></i>
              </button>
              <button
                (click)="changeMultiple(activateEmployee)"
                type="button"
                class="btn btn-outline-primary"
              >
                <i
                  class="icon-content-green las la-check-circle label-icon align-middle fs-20"
                ></i>
              </button>
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-4">
            <div
              style="float: left"
              class="d-flex flex-wrap gap-2 mb-3 mb-lg-0"
            >
              <button type="button" class="btn btn-outline-primary">
                <i class="las la-file-excel label-icon align-middle fs-20"></i>
              </button>
              <button type="button" class="btn btn-outline-primary">
                <i
                  class="ri-file-excel-2-line label-icon align-middle fs-20"
                ></i>
              </button>
              <button type="button" class="btn btn-outline-primary">
                <i class="las la-file-upload label-icon align-middle fs-20"></i>
              </button>
              <button type="button" class="btn btn-outline-primary">
                <i class="las la-print label-icon align-middle fs-20"></i>
              </button>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->

        <div class="search-box d-inline-block mb-2">
          <input
            type="text"
            class="form-control search"
            placeholder="جستجو ..."
            [(ngModel)]="service.searchTerm"
          />
          <i class="ri-search-line search-icon"></i>
        </div>

        <div class="table-responsive">
          <table class="table table-gridjs">
            <thead>
              <tr>
                <th style="width: 4px"></th>
                <th class="sort" sortable="userName" (sort)="onSort($event)">
                  نام کاربری
                </th>
                <th class="sort" sortable="firstName" (sort)="onSort($event)">
                  نام
                </th>
                <th class="sort" sortable="lastName" (sort)="onSort($event)">
                  نام خانوادگی
                </th>
                <th
                  class="sort"
                  sortable="nationalCode"
                  (sort)="onSort($event)"
                >
                  کد ملی
                </th>
                <th class="sort" sortable="phoneNumber" (sort)="onSort($event)">
                  شماره همراه
                </th>
                <th class="sort" sortable="email" (sort)="onSort($event)">
                  آدرس ایمیل
                </th>
                <th class="sort" sortable="isActive" (sort)="onSort($event)">
                  فعال بودن
                </th>
                <th class="sort" sortable="roles" (sort)="onSort($event)">
                  نقش ها
                </th>
                <th
                  class="sort"
                  sortable="registerDateTime"
                  (sort)="onSort($event)"
                >
                  تاریخ عضویت
                </th>
                <th
                  class="sort"
                  sortable="lockoutEnabled"
                  (sort)="onSort($event)"
                >
                  فعال بودن قفل کاربر
                </th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of gridjsList$ | async"
                id="lj_{{ data.id }}"
              >
                <td>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkAll"
                      [checked]="isChecked(data.id)"
                      (change)="toggleCheckbox(data.id)"
                    />
                  </div>
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.userName"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.firstName"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.lastName"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.nationalCode"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.phoneNumber"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.email"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <strong
                    *ngIf="
                      data.isActive != null &&
                      data.isActive.toString() == 'true'
                    "
                    >بلی</strong
                  >
                  <strong
                    *ngIf="
                      data.isActive == null ||
                      data.isActive.toString() == 'false'
                    "
                    >خیر</strong
                  >
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.roles"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight
                    [result]="data.registerDateTime"
                    [term]="service.searchTerm"
                  ></ngb-highlight>
                </td>
                <td>
                  <strong
                    *ngIf="
                      data.lockoutEnabled != null &&
                      data.lockoutEnabled.toString() == 'true'
                    "
                    >بلی</strong
                  >
                  <strong
                    *ngIf="
                      data.lockoutEnabled == null ||
                      data.lockoutEnabled.toString() == 'false'
                    "
                    >خیر</strong
                  >
                </td>
                <td
                  data-column-id="actions"
                  class="hstack gap-3 flex-wrap gridjs-td"
                >
                  <a
                    style="cursor: pointer"
                    (click)="edit(data)"
                    _ngcontent-agu-c388=""
                  >
                    <i
                      _ngcontent-agu-c388=""
                      class="las la-edit label-icon align-middle fs-22"
                    ></i>
                  </a>
                  <a
                    style="cursor: pointer"
                    (click)="openMoreDetailUser(data)"
                    _ngcontent-agu-c388=""
                  >
                    <i
                      style="color: #405189"
                      class="las la-tasks label-icon align-middle fs-22"
                    ></i>
                  </a>

                  <!-- <a _ngcontent-agu-c388="" (click)="openDeleteConfirmationModal(data.id)"
                                        class="link-danger fs-15">
                                        <i _ngcontent-agu-c388="" class="ri-delete-bin-line"></i>
                                    </a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center">
          <div class="col-sm-12 col-md-5">
            <div
              class="dataTables_info mb-2"
              id="tickets-table_info"
              role="status"
              aria-live="polite"
            >
              نمایش
              {{ service.totalRecords !== 0 ? service.startIndex : 0 }} تا
              {{ service.endIndex }} از {{ service.totalRecords }}
              داده
            </div>
          </div>
          <!-- Pagination -->
          <div class="col-sm-12 col-md-5">
            <div class="text-md-right float-md-end gridjs-pagination">
              <ngb-pagination
                [collectionSize]="(total$ | async)!"
                [maxSize]="10"
                [(page)]="service.page"
                [pageSize]="service.pageSize"
              >
              </ngb-pagination>
            </div>
            <div class="text-md-right float-md-end  d-flex align-items-center mx-2">
              <label class="p-0 m-0 text-muted" for="pageSize">تعداد موارد در هر صفحه</label>
              <select class="outline-none border border-gray p-1 mx-2" id="pageSize" [(ngModel)]="service.pageSize" (change)="service.page = 1">
                <option *ngFor="let size of [5, 10, 15, 20]" [value]="size">{{ size }}</option>
              </select>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<ng-template #deactivateEmployee let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="btn-close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <lord-icon
          src="https://cdn.lordicon.com/gsqxdxog.json"
          trigger="loop"
          colors="primary:#405189,secondary:#f06548"
          style="width: 90px; height: 90px"
        ></lord-icon>
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>از غیر فعال کردن آیتم (های) انتخاب شده مطمئن هستید؟</h4>
          <p class="text-muted mx-4 mb-0">
            تایید غیر فعال کردن به منزله غیر فعال کردن داده می باشد
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button
          class="btn btn-link link-success fw-medium text-decoration-none"
          data-bs-dismiss="modal"
          (click)="modal.close('Close click')"
        >
          <i class="ri-close-line me-1 align-middle"></i> انصراف
        </button>
        <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="deactivateItems()"
        [class.btn-loading]="inProgress" [disabled]="inProgress">
        <ng-container *ngIf="!inProgress; else loadingTemplate">
            غیرفعال کن
        </ng-container>
        <ng-template #loadingTemplate>
            <span class="visually-hidden">Loading...</span>
        </ng-template>
    </button>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>

<ng-template #activateEmployee let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="btn-close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <lord-icon
          src="https://cdn.lordicon.com/gsqxdxog.json"
          trigger="loop"
          colors="primary:#405189,secondary:#f06548"
          style="width: 90px; height: 90px"
        ></lord-icon>
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>از فعال کردن آیتم (های) انتخاب شده مطمئن هستید؟</h4>
          <p class="text-muted mx-4 mb-0">
            تایید فعال کردن به منزله فعال کردن داده می باشد
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button
          class="btn btn-link link-success fw-medium text-decoration-none"
          data-bs-dismiss="modal"
          (click)="modal.close('Close click')"
        >
          <i class="ri-close-line me-1 align-middle"></i> انصراف
        </button>
        <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="activateItems()"
        [class.btn-loading]="inProgress" [disabled]="inProgress">
        <ng-container *ngIf="!inProgress; else loadingTemplate">
            فعال کن
        </ng-container>
        <ng-template #loadingTemplate>
            <span class="visually-hidden">Loading...</span>
        </ng-template>
    </button>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>

<!-- Update Modal -->
<ng-template role="document" #updateFormModal let-modal>
  <form class="row gy-1" [formGroup]="updateForm" (ngSubmit)="updateSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">کارشناس</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss(); this.handleCloseUpdateFormModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row modal-body">
      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="userName" class="form-label">نام کاربری</label>
        <input
          type="input"
          class="form-control"
          id="userName"
          formControlName="userName"
          [ngClass]="{
            'is-invalid':
              updateFormControls.userName.touched &&
              updateFormControls.userName.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.userName.touched &&
            updateFormControls.userName.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن نام کاربری اجباریست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="firstName" class="form-label">نام</label>
        <input
          type="input"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid':
              updateFormControls.firstName.touched &&
              updateFormControls.firstName.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.firstName.touched &&
            updateFormControls.firstName.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن نام اجباریست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="lastName" class="form-label">نام خانوادگی</label>
        <input
          type="input"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid':
              updateFormControls.lastName.touched &&
              updateFormControls.lastName.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.lastName.touched &&
            updateFormControls.lastName.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن نام خانوادگی اجباریست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="nationalCode" class="form-label">کد ملی</label>
        <input
          type="input"
          class="form-control"
          id="nationalCode"
          formControlName="nationalCode"
          [ngClass]="{
            'is-invalid':
              updateFormControls.nationalCode.touched &&
              updateFormControls.nationalCode.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.nationalCode.touched &&
            updateFormControls.nationalCode.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن کد ملی اجباریست
        </div>
        <div
        *ngIf="
          updateFormControls.nationalCode.errors?.pattern
        "
        class="invalid-feedback"
      >
        کد ملی وارد شده صحیح نمی باشد
      </div>
      <div
        *ngIf="
          updateFormControls.nationalCode.errors?.minlength ||
          updateFormControls.nationalCode.errors?.maxlength
        "
        class="invalid-feedback"
      >
        کد ملی باید حداقل 10 کاراکتر باشد.
      </div>
        <div
        *ngIf="
          updateFormControls.nationalCode.touched &&
          updateFormControls.nationalCode.errors?.nationalCodeTaken
        " class="invalid-feedback">
          کد ملی تکراری است     
      </div>
      <div *ngIf="updateFormControls.nationalCode.touched && updateFormControls.nationalCode.pending">
        یگانگی  کد ملی در حال بررسی است
      </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="phoneNumber" class="form-label">شماره همراه</label>
        <input
          type="input"
          class="form-control"
          id="phoneNumber"
          formControlName="phoneNumber"
          [ngClass]="{
            'is-invalid':
              updateFormControls.phoneNumber.touched &&
              updateFormControls.phoneNumber.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.phoneNumber.touched &&
            updateFormControls.phoneNumber.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن شماره همراه اجباریست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="email" class="form-label">آدرس ایمیل</label>
        <input
          type="input"
          class="form-control"
          id="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              updateFormControls.email.touched &&
              updateFormControls.email.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.email.touched &&
            updateFormControls.email.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن آدرس ایمیل اجباریست
        </div>
        <div
          *ngIf="
            updateFormControls.email.touched &&
            updateFormControls.email.errors?.email
          "
          class="invalid-feedback"
        >
          آدرس ایمیل صحیح نیست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="isActive" class="form-label">فعال بودن</label>
        <input
          type="input"
          class="form-control"
          id="isActive"
          formControlName="isActive"
          [ngClass]="{
            'is-invalid':
              updateFormControls.isActive.touched &&
              updateFormControls.isActive.invalid
          }"
        />
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="roles" class="form-label">نقش ها</label>
        <input
          type="input"
          class="form-control"
          id="roles"
          formControlName="roles"
          [ngClass]="{
            'is-invalid':
              updateFormControls.roles.touched &&
              updateFormControls.roles.invalid
          }"
        />
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="registerDateTime" class="form-label">تاریخ عضویت</label>
        <input
          type="input"
          class="form-control"
          id="registerDateTime"
          formControlName="registerDateTime"
          [ngClass]="{
            'is-invalid':
              updateFormControls.registerDateTime.touched &&
              updateFormControls.registerDateTime.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.registerDateTime.touched &&
            updateFormControls.registerDateTime.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن تاریخ عضویت اجباریست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="lockoutEnabled" class="form-label"
          >فعال بودن قفل کاربر</label
        >
        <input
          type="checkbox"
          class="form-check-input"
          id="lockoutEnabled"
          formControlName="lockoutEnabled"
          [ngClass]="{
            'is-invalid':
              updateFormControls.lockoutEnabled.touched &&
              updateFormControls.lockoutEnabled.invalid
          }"
        />
        <div
          *ngIf="
            updateFormControls.lockoutEnabled.touched &&
            updateFormControls.lockoutEnabled.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن فعال بودن قفل کاربر اجباریست.
        </div>
      </div>
      <!--end col-->
      <div class="mb-3 col-xxl-6 col-md-6">
        <app-file-upload
          [title]="'تصویر پروفایل '"
          [savedFileId]="updateFormControls.avatar.value"
          [savedFileUrl]="selectedFileUrl"
          [isRequired]="false"
          (uploadResponseEvent)="onFileSelectedUpdate($event)"
        ></app-file-upload>
      </div>

      <!--end col-->
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="
          modal.dismiss('Cross click'); this.handleCloseUpdateFormModal()
        "
        style="margin-left: 5px"
        class="btn btn-warning"
      >
        انصراف
      </button>
      <button
        type="button"
        (click)="resetUpdateForm()"
        style="margin-left: 5px"
        class="btn btn-warning"
      >
        پاک کردن فرم
      </button>
      <button class="btn btn-primary" [class.btn-loading]="inProgress" [disabled]="inProgress" type="submit">
        <ng-container *ngIf="!inProgress; else loadingTemplate">
            ذخیره
        </ng-container>
        <ng-template #loadingTemplate>
            <span class="visually-hidden">Loading...</span>
        </ng-template>
    </button>
    </div>
  </form>
</ng-template>

<!-- Register Modal -->
<ng-template role="document" #registerFormModal let-modal>
  <form
    class="row gy-1"
    [formGroup]="registerForm"
    (ngSubmit)="registerSubmit()"
  >
    <div class="modal-header">
      <h4 class="modal-title">کارشناس</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss(); this.handleCloseRegisterFormModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row modal-body">
      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="userName" class="form-label">نام کاربری</label>
        <input
          type="input"
          class="form-control"
          id="userName"
          formControlName="userName"
          [ngClass]="{
            'is-invalid':
              registerFormControls.userName.touched &&
              registerFormControls.userName.invalid
          }"
        />
        <div class="invalid-feedback">
        <div *ngIf="
        registerFormControls.userName.touched &&
        registerFormControls.userName.errors?.required">
          وارد کردن نام کاربری اجباریست
        </div>
        <span *ngIf="
        registerFormControls.userName.errors?.pattern">
          لطفا یک نام کاربری معتبر وارد کنید
        </span>
        </div>
        <div
        *ngIf="
          registerFormControls.userName.touched &&
          registerFormControls.userName.errors?.userNameTaken
        "
        class="invalid-feedback"
      >
        نام کاربری تکراری است
      </div>
      <div *ngIf="registerFormControls.userName.touched && registerFormControls.userName.pending">
        یگانگی نام کاربری در حال بررسی است
      </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="firstName" class="form-label">نام</label>
        <input
          type="input"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid':
              registerFormControls.firstName.touched &&
              registerFormControls.firstName.invalid
          }"
        />
        <div
          *ngIf="
            registerFormControls.firstName.touched &&
            registerFormControls.firstName.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن نام اجباریست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="lastName" class="form-label">نام خانوادگی</label>
        <input
          type="input"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid':
              registerFormControls.lastName.touched &&
              registerFormControls.lastName.invalid
          }"
        />
        <div
          *ngIf="
            registerFormControls.lastName.touched &&
            registerFormControls.lastName.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن نام خانوادگی اجباریست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="nationalCode" class="form-label">کد ملی</label>
        <input
          type="input"
          class="form-control"
          id="nationalCode"
          formControlName="nationalCode"
          [ngClass]="{
            'is-invalid':
              registerFormControls.nationalCode.touched &&
              registerFormControls.nationalCode.invalid
          }"
        />
        <div
          *ngIf="
            registerFormControls.nationalCode.touched &&
            registerFormControls.nationalCode.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن کد ملی اجباریست
        </div>
        <div
          *ngIf="
            registerFormControls.nationalCode.errors?.pattern
          "
          class="invalid-feedback"
        >
          کد ملی وارد شده صحیح نمی باشد
        </div>
        <div
          *ngIf="
            registerFormControls.nationalCode.errors?.minlength ||
            registerFormControls.nationalCode.errors?.maxlength
          "
          class="invalid-feedback"
        >
          کد ملی باید حداقل 10 کاراکتر باشد.
        </div>
        <div
        *ngIf="
          registerFormControls.nationalCode.touched &&
          registerFormControls.nationalCode.errors?.nationalCodeTaken
        "
        class="invalid-feedback"
      >
      کد ملی تکراری است
    </div>
      <div *ngIf="registerFormControls.nationalCode.touched && registerFormControls.nationalCode.pending">
        یگانگی  کد ملی در حال بررسی است
      </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="phoneNumber" class="form-label">شماره همراه</label>
        <input
          type="input"
          class="form-control"
          id="phoneNumber"
          formControlName="phoneNumber"
          [ngClass]="{
            'is-invalid':
              registerFormControls.phoneNumber.touched &&
              registerFormControls.phoneNumber.invalid
          }"
        />
        <div class="invalid-feedback">
        <div *ngIf="
        registerFormControls.phoneNumber.touched &&
        registerFormControls.phoneNumber.errors?.required
      ">
          وارد کردن شماره همراه اجباریست
        </div>
        <div *ngIf="
            registerFormControls.phoneNumber.errors?.minlenght
          ">
          شماره وارد شده باید 11 رقم باشد
        </div>
        <div *ngIf="
          registerFormControls.phoneNumber.errors?.maxlength
        ">
          شماره وارد شده باید 11 رقم باشد
        </div>
        <div *ngIf="
          registerFormControls.phoneNumber.errors?.pattern
        ">
          شماره وارد شده صحیح نمی باشد
        </div>
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="email" class="form-label">آدرس ایمیل</label>
        <input
          type="input"
          class="form-control"
          id="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              registerFormControls.email.touched &&
              registerFormControls.email.invalid
          }"
        />
        <div
          *ngIf="
            registerFormControls.email.touched &&
            registerFormControls.email.errors?.required
          "
          class="invalid-feedback"
        >
          وارد کردن آدرس ایمیل اجباریست
        </div>
        <div
          *ngIf="
            registerFormControls.email.touched &&
            registerFormControls.email.errors?.email
          "
          class="invalid-feedback"
        >
          آدرس ایمیل صحیح نیست
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="password" class="form-label">رمز عبور</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          #password
          [ngClass]="{
            'is-invalid':
              registerFormControls.password.touched &&
              registerFormControls.password.invalid
          }"
        />
        <div class="invalid-feedback">
          <div *ngIf="
          registerFormControls.password.touched &&
          registerFormControls.password.errors?.required
        ">
            وارد کردن رمز عبور اجباریست
        </div>
        <div *ngIf="registerFormControls.password.errors?.minlength">
          رمز عبور باید حداقل 8 کاراکتر باشد
      </div>
      <div *ngIf="registerFormControls.password.errors?.missingDigit">
        رمز عبور باید حداقل دارای یک یا چند کاراکتر عددی باشد
      </div>
      <div *ngIf="registerFormControls.password.errors?.missingLowercase">
        رمز عبور باید حداقل دارای یک یا چند حرف کوچک باشد
      </div>
      <div *ngIf="registerFormControls.password.errors?.missingUppercase">
        رمز عبور باید حداقل دارای یک یا چند حرف بزرک باشد
      </div>
      <div *ngIf="registerFormControls.password.errors?.notEnoughUniqueChars">
        رمز عبور حداقل به 3 کاراکتر منحصر به فرد نیاز دارد
      </div>
        </div>
        <div class="d-flex gap-2 mt-2 "  >
          <input type="checkbox" (click)="toggleFieldTextType(password)">
          <span class="text-xs">
            نمایش رمزعبور
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="mb-3 col-xxl-6 col-md-6">
        <label for="confirmPassword" class="form-label">تکرار رمز عبور</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
          #confirmPasswordField
          [ngClass]="{
            'is-invalid':
              registerFormControls.confirmPassword.touched &&
              registerFormControls.confirmPassword.invalid
          }"
        />
        <div class="invalid-feedback">
        <div  *ngIf="
        registerFormControls.confirmPassword.touched &&
        registerFormControls.confirmPassword.errors?.required">
          وارد کردن تکرار رمز عبور اجباریست
        </div>
        <div *ngIf="registerFormControls.confirmPassword.errors?.mustMatch">
          رمزهای عبور باید مطابقت داشته باشند
        </div>
        
        </div>
        <div class="d-flex gap-2 mt-2"  >
          <input type="checkbox" (click)="toggleFieldTextType(confirmPasswordField)">
          <span class="text-xs">
            نمایش رمزعبور
          </span>
        </div>
        
      </div>
      <!--end col-->
      <div class="mb-3 col-xxl-6 col-md-6">
        <app-file-upload
          [title]="'تصویر پروفایل'"
          [savedFileId]="registerFormControls.avatar.value"
          [savedFileUrl]="selectedFileUrl"
          [isRequired]="false"
          (uploadResponseEvent)="onFileSelectedRegister($event)"
        ></app-file-upload>
      </div>
      <!--end col-->
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="
          modal.dismiss('Cross click'); this.handleCloseRegisterFormModal()
        "
        style="margin-left: 5px"
        class="btn btn-warning"
      >
        انصراف
      </button>
      <button
        type="button"
        (click)="resetRegisterForm()"
        style="margin-left: 5px"
        class="btn btn-warning"
      >
        پاک کردن فرم
      </button>
      <button class="btn btn-primary" [class.btn-loading]="inProgress" [disabled]="inProgress" type="submit">
        <ng-container *ngIf="!inProgress; else loadingTemplate">
            ذخیره
        </ng-container>
        <ng-template #loadingTemplate>
            <span class="visually-hidden">Loading...</span>
        </ng-template>
    </button>
    </div>
  </form>
</ng-template>

<ng-template #userTabModel let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="btn-close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <div>
            <ul
              ngbNav
              #customNav="ngbNav"
              [activeId]="1"
              class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
              role="tablist"
            >
              <li [ngbNavItem]="1" class="nav-item">
                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                  گروه مجوزها
                </a>
                <ng-template ngbNavContent>
                  <app-group-employees
                    [user]="selectedUser"
                  ></app-group-employees>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div [ngbNavOutlet]="customNav"></div>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>
