<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0 flex-grow-1">فرایند سفارش بازگشت</h4>
      </div>
      <!-- end card header -->
      <div class="card-body">
        <div>
          <app-workflow-return-order [stepId]="currentStep" [returnOrderId]="returnOrderId"></app-workflow-return-order>
        </div>
        <div dir="rtl">
          <div *ngIf="isLoaded">
            <mat-stepper orientation="vertical" [selectedIndex]="currentStep" #stepper>
              <!-- مرحله اول:  در انتظار ثبت -->
              <mat-step *ngIf="steps.includes(0)" [stepControl]="pendingForRegisterStateFormGroup"
                [label]="'در انتظار ثبت'">
                <p>{{pendingForRegisterState}}</p>
                <form [formGroup]="pendingForRegisterStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForRegisterStateFormGroupControl.details.touched && pendingForRegisterStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForRegisterStateFormGroupControl.details.touched && pendingForRegisterStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
              </mat-step>

              <!-- مرحله دوم:  در انتظار رد یا پذیرفتن سفارش بازگشت توسط کارشناس -->
              <mat-step *ngIf="steps.includes(1)" [stepControl]="pendingForExpertRequestConfirmStateFormGroup"
                [label]="'در انتظار رد یا پذیرفتن سفارش بازگشت توسط کارشناس'">
                <p>{{pendingForExpertRequestConfirmState}}</p>
                <form [formGroup]="pendingForExpertRequestConfirmStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForExpertRequestConfirmStateFormGroupControl.details.touched && pendingForExpertRequestConfirmStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForExpertRequestConfirmStateFormGroupControl.details.touched && pendingForExpertRequestConfirmStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <div *ngIf="currentStep == 1">
                  <button mat-raised-button class="m-1"
                    (click)="openConfirmOperationModal(1,pendingForExpertRequestConfirmStateFormGroup)">پذیرفتن درخواست</button>
                  <button mat-raised-button class="m-1" color="warn"
                    (click)="openConfirmOperationModal(2,pendingForExpertRequestConfirmStateFormGroup)">رد درخواست</button>
                </div>
              </mat-step>

              <!-- مرحله سوم:  در انتظار تایید ارسال سفارش بازگشت -->
              <mat-step *ngIf="steps.includes(2)" [stepControl]="pendingForSendStateFormGroup"
                [label]="'در انتظار تایید ارسال سفارش بازگشت'">
                <p>{{pendingForSendState}}</p>
                <form [formGroup]="pendingForSendStateFormGroup">
                  <div class="mb-3">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control mb-3" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForSendStateFormGroupControl.details.touched && pendingForSendStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForSendStateFormGroupControl.details.touched && pendingForSendStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="typeSubMenu" class="form-label">نوع بازگردانی کالا</label>
                <select style="margin-bottom: 0px !important;"
                    class="form-select" aria-label="نوع بازگردانی کالا" id="returnOrderTransportationType"
                    [ngClass]="{'is-invalid': pendingForSendStateFormGroupControl.returnOrderTransportationType.touched && pendingForSendStateFormGroupControl.returnOrderTransportationType.invalid}"
                    formControlName="returnOrderTransportationType">
                    <option [ngValue]="null">انتخاب کنید</option>
                    <option *ngFor="let key of getTransNumericKeys()" [ngValue]="returnOrderTransportationTypes[key]">
                        {{ mapTransNumericKeyToString(key) }}
                    </option>
                </select>
                <div *ngIf="pendingForSendStateFormGroupControl.returnOrderTransportationType.touched && pendingForSendStateFormGroupControl.returnOrderTransportationType.errors?.required"
                    class="invalid-feedback">
                    انتخاب نوع بازگردانی کالا اجباریست
                </div>
              </div>
                  <div *ngIf="isInSendStep" class="form-check form-switch mb-3 col-xxl-6 col-md-6 w-auto">
                    <input formControlName="isReturnShippingPriceEntered" class="form-check-input" type="checkbox" role="switch"
                      id="isDefault" />
                <label class="form-check-label" for="isDefault">هزینه مرجوع کالا با سازمان میباشد</label>
                  </div>
                  <!--end col-->

                  <div *ngIf="pendingForSendStateFormGroupControl.isReturnShippingPriceEntered.value">

                    <div class=" mb-3 col-xxl-12 col-md-12">

                      <label for="returnShippingPrice" class="form-label">هزینه بازگشت کالا </label>
                      <input type="input" class="form-control" id="returnShippingPrice"
                        formControlName="returnShippingPrice"
                        [ngClass]="{'is-invalid': pendingForSendStateFormGroupControl.returnShippingPrice.touched && pendingForSendStateFormGroupControl.returnShippingPrice.invalid}">
                      <div
                        *ngIf="pendingForSendStateFormGroupControl.returnShippingPrice.touched && pendingForSendStateFormGroupControl.returnShippingPrice.invalid"
                        class="invalid-feedback">
                        هزینه بازگشت کالا صحیح را وارد کنید.
                      </div>
                    </div><!--end col-->

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title mb-0 flex-grow-1">لیست مستندات هزینه بازگشت کالا</h4>
                          </div>
                          <!-- end card header -->

                          <div class="card-body">
                            <div class="mb-lg-3 row">
                              <div *ngIf="isInSendStep" class="col-lg-8">
                                <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
                                  <button  (click)="openInsertModal()" type="button" class="btn btn-outline-primary">
                                    <i class="icon-content-blue las la-plus label-icon align-middle fs-20"></i>
                                  </button>
                                  <button  (click)="deleteMultiple(deleteModel)" type="button"
                                    class="btn btn-outline-primary">
                                    <i class="icon-content-red las la-trash label-icon align-middle fs-20"></i>
                                  </button>
                                </div>
                              </div>
                              <!--end col-->

                            </div>
                            <!--end row-->


                            <div class="table-responsive">
                              <table class="table table-gridjs">
                                <thead>
                                  <tr>
                                    <th *ngIf="isInSendStep"  style="width: 4px"></th>
                                    <th>توضیحات </th>
                                    <th> تصویر </th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of documentList" id="lj_{{ data.image }}">
                                    <td *ngIf="isInSendStep">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkAll"
                                          [checked]="isChecked(data.image)" (change)="toggleCheckbox(data.image)" />
                                      </div>
                                    </td>
                                    <td>
                                      <ngb-highlight [result]="data.description"></ngb-highlight>
                                    </td>
                                    <td>
                                      <img *ngIf="data.image" [src]="data.imageSrc" alt="AboutUs Logo"
                                        style="max-width: 100px; max-height: 100px" />
                                    </td>
                                    <td data-column-id="actions">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <!-- end card-body -->
                        </div>
                        <!-- end card -->
                      </div>
                      <!-- end col -->
                    </div>
                    <!-- end row -->
                  </div>
                </form>
                <div *ngIf="currentStep == 2">
                  <button mat-raised-button class="m-1"
                    (click)="openConfirmOperationModal(3,pendingForSendStateFormGroup)">تایید ارسال</button>
                  <button mat-raised-button class="m-1" color="warn"
                    (click)="openConfirmOperationModal(8,pendingForSendStateFormGroup)">لغو</button>
                </div>
              </mat-step>

              <!-- مرحله چهارم:  در انتظار  تایید دریافت سفارش بازگشت -->
              <mat-step *ngIf="steps.includes(3)" [stepControl]="pendingForReceiveStateFormGroup"
                [label]="'در انتظار تایید دریافت سفارش بازگشت'">
                <p>{{pendingForReceiveState}}</p>
                <form [formGroup]="pendingForReceiveStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForReceiveStateFormGroupControl.details.touched && pendingForReceiveStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForReceiveStateFormGroupControl.details.touched && pendingForReceiveStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <div *ngIf="currentStep == 3">
                  <button mat-raised-button class="m-1"
                    (click)="openConfirmOperationModal(4,pendingForReceiveStateFormGroup)">تایید دریافت
                    سفارش بازگشت</button>
                  <button mat-raised-button class="m-1" color="warn"
                    (click)="openConfirmOperationModal(8,pendingForReceiveStateFormGroup)">لغو</button>
                </div>
              </mat-step>

              <!-- مرحله پنجم:  در انتظار  تایید کالاها توسط کارشناس  -->
              <mat-step *ngIf="steps.includes(4)" [stepControl]="pendingForExpertProductConfirmStateFormGroup"
                [label]="'در انتظار تایید کالاها توسط کارشناس'">
                <p>{{pendingForExpertProductConfirmState}}</p>
                <form [formGroup]="pendingForExpertProductConfirmStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForExpertProductConfirmStateFormGroupControl.details.touched && pendingForExpertProductConfirmStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForExpertProductConfirmStateFormGroupControl.details.touched && pendingForExpertProductConfirmStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <div *ngIf="currentStep == 4">
                  <button mat-raised-button class="m-1"
                    (click)="openConfirmOperationModal(5,pendingForExpertProductConfirmStateFormGroup)">تایید همه کالاهای سفارش
                    بازگشت</button>
                  <button mat-raised-button class="m-1" color="warn"
                    (click)="openConfirmOperationModal(6,pendingForExpertProductConfirmStateFormGroup)">تایید بعضی کالاهای سفارش
                    بازگشت</button>
                </div>
              </mat-step>

              <!-- مرحله ششم: در انتظار بازگشت وجه احتمالی  -->
              <mat-step *ngIf="steps.includes(5)" [stepControl]="pendingForRefundCostStateFormGroup"
                [label]="'در انتظار بازگشت وجه احتمالی'">
                <p>{{pendingForRefundCostState}}</p>
                <form [formGroup]="pendingForRefundCostStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForRefundCostStateFormGroupControl.details.touched && pendingForRefundCostStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForRefundCostStateFormGroupControl.details.touched && pendingForRefundCostStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                  <div class="mb-3  col-xxl-6 col-md-6">
                    <label for="typeSubMenu" class="form-label">نوع بازپرداخت وجه</label>
                    <select style="margin-bottom: 0px !important;"
                      class="form-select mb-3" aria-label="نوع بازپرداخت وجه" id="costRefundType"
                      [ngClass]="{'is-invalid': pendingForRefundCostStateFormGroupControl.costRefundType.touched && pendingForRefundCostStateFormGroupControl.costRefundType.invalid}"
                      formControlName="costRefundType">
                      <option [ngValue]="null">انتخاب کنید</option>
                      <option *ngFor="let key of getNumericKeys()" [ngValue]="costRefundTypes[key]">
                        {{ mapNumericKeyToString(key) }}
                      </option>
                    </select>
                    <div
                      *ngIf="pendingForRefundCostStateFormGroupControl.costRefundType.touched && pendingForRefundCostStateFormGroupControl.costRefundType.errors?.required"
                      class="invalid-feedback">
                      انتخاب نوع بازپرداخت وجه اجباریست
                    </div>
                  </div><!--end col-->
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 5"
                  (click)="openConfirmOperationModal(7,pendingForRefundCostStateFormGroup)">تایید بازگشت وجه سفارش
                  بازگشت</button>
              </mat-step>

              <!-- مرحله هفتم:  در انتظار تکمیل فرایند سفارش بازگشت  -->
              <mat-step *ngIf="steps.includes(6)" [stepControl]="pendingForCompletedStateFormGroup"
                [label]="'در انتظار تکمیل فرایند سفارش بازگشت'">
                <p>{{pendingForCompletedState}}</p>
                <form [formGroup]="pendingForCompletedStateFormGroup">
                  <label for="details" class="form-label">جزئیات عملیات</label>
                  <input type="input" class="form-control" id="details" formControlName="details"
                    [ngClass]="{'is-invalid': pendingForCompletedStateFormGroupControl.details.touched && pendingForCompletedStateFormGroupControl.details.invalid}">
                  <div
                    *ngIf="pendingForCompletedStateFormGroupControl.details.touched && pendingForCompletedStateFormGroupControl.details.invalid"
                    class="invalid-feedback">
                    جزئیات صحیح را وارد کنید.
                  </div>
                </form>
                <button mat-raised-button class="m-1" *ngIf="currentStep == 6"
                  (click)="openConfirmOperationModal(9,pendingForCompletedStateFormGroup)">تایید تکمیل فرایند
                  سفارش بازگشت</button>
              </mat-step>

              <!-- مرحله هشتم:   فرایند سفارش بازگشت کامل شده  -->
              <mat-step *ngIf="steps.includes(7)" [stepControl]="completedStateFormGroup"
                [label]="'فرایند سفارش بازگشت کامل شده'">
                <p>فرایند سفارش بازگشت کامل شده است</p>
              </mat-step>


            </mat-stepper>
          </div>
        </div>
        <!--end rtl-->
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>

<ng-template #confirmOperation let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" trigger="loop"
          colors="primary:#405189,secondary:#f06548" style="width: 90px; height: 90px"></lord-icon>
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>از انجام عملیات مطمئن هستید؟</h4>
          <p class="text-muted mx-4 mb-0">
            تایید به منزله انجام عملیات می باشد
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">
          <i class="ri-close-line me-1 align-middle"></i> انصراف
        </button>
        <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="operate()"
          [class.btn-loading]="inProgress" [disabled]="inProgress">
          <ng-container *ngIf="!inProgress; else loadingTemplate">
            انجام عملیات
          </ng-container>
          <ng-template #loadingTemplate>
            <span class="visually-hidden">Loading...</span>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>

<ng-template #deleteModel let-modal>
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
              (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <div class="mt-2 text-center">
              <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                  colors="primary:#405189,secondary:#f06548" style="width: 90px; height: 90px"></lord-icon>
              <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                  <h4>از حذف آیتم (های) انتخاب شده مطمئن هستید؟</h4>
                  <p class="text-muted mx-4 mb-0">
                      تایید حذف به منزله حذف داده از پایگاه داده می باشد
                  </p>
              </div>
          </div>
          <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
              <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                  (click)="modal.close('Close click')">
                  <i class="ri-close-line me-1 align-middle"></i> انصراف
              </button>
              <button type="button" class="btn w-sm btn-danger" id="delete-product" (click)="deleteItems()"
                  [class.btn-loading]="inProgress" [disabled]="inProgress">
                  <ng-container *ngIf="!inProgress; else loadingTemplate">
                      حذف کن
                  </ng-container>
                  <ng-template #loadingTemplate>
                      <span class="visually-hidden">Loading...</span>
                  </ng-template>
              </button>
          </div>
      </div>
  </div>
  <!-- /.modal-content -->
</ng-template>

<!-- Insert Modal -->
<ng-template role="document" #documentFormModal let-modal>
  <form class="row gy-1" [formGroup]="documentForm" (ngSubmit)="onSubmit()">
      <div class="modal-header">
          <h4 class="modal-title">مستند</h4>
          <button type="button" class="close" aria-label="Close"
              (click)="modal.dismiss(); this.handleCloseFormModal(documentForm)">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="row modal-body">

          <div class="mb-3 col-xxl-6 col-md-6">
              <label for="description" class="form-label">توضیحات</label>
              <textarea class="form-control" id="description" formControlName="description" [ngClass]="{
            'is-invalid': documentFormControl.description.touched && documentFormControl.description.invalid
          }">
        </textarea>
              <div *ngIf="documentFormControl.description.touched && documentFormControl.description.errors?.required"
                  class="invalid-feedback">
                  وارد کردن توضیحات اجباریست
              </div>
          </div>
          <!--end col-->

          <div class="mb-3 col-xxl-6 col-md-6">
              <app-file-upload [title]="'تصویر مستند'" [savedFileId]="documentFormControl.image.value"
                  [savedFileUrl]="selectedFileUrl" [isRequired]="true"
                  (uploadResponseEvent)="onFileSelected($event)"></app-file-upload>
              <div *ngIf="
            documentFormControl.image.touched && documentFormControl.image.errors?.required
          " class="mt-1 text-danger">
                  وارد کردن تصویر اجباریست
              </div>
          </div>
          <!--end col-->

      </div>
      <div class="modal-footer">
          <button type="button" (click)="modal.dismiss('Cross click'); this.handleCloseFormModal(documentForm)"
              style="margin-left: 5px" class="btn btn-warning">
              انصراف
          </button>
          <button type="button" (click)="resetAddForm(documentForm)" style="margin-left: 5px" class="btn btn-warning">
              پاک کردن فرم
          </button>
          <button class="btn btn-primary" [class.btn-loading]="inProgress" [disabled]="inProgress" type="submit">
              <ng-container *ngIf="!inProgress; else loadingTemplate">
                 ذخیره
              </ng-container>
              <ng-template #loadingTemplate>
                  <span class="visually-hidden">Loading...</span>
              </ng-template>
          </button>
      </div>
  </form>
</ng-template>