<div class="widget__header">
    <h4>درباره بلاگ</h4>
</div>
<div class="widget-about-us__body">
    <div class="widget-about-us__text">
        تارنگار که به آن تارنوشت، یا وب‌نوشت (به انگلیسی: Blog ) هم می‌گویند، نوعی وبگاه و محلی برای فعالیت روزنامه‌نگاری است که حاوی اطلاعاتی مانند: گزارش روزانه، اخبار، یادداشت‌های شخصی یا مقالات علمی مورد نظر طراح آن است. وبلاگ ترکیبی از دو کلمهٔ «web» و «log» به معنای ثبت وقایع روزانه است.
    </div>
    <div class="widget-about-us__social-links social-links">
        <ul class="social-links__list">
            <li *ngFor="let socialLink of socialLinks" class="social-links__item social-links__item--{{ socialLink.name }}">
                <a [href]="socialLink.url" target="_blank">
                    <i class="widget-social__icon {{ socialLink.icon }}"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
