<form class="p-4 border rounded shadow-sm" (ngSubmit)="onSubmit()">
  
  <h5 class="mb-3">پرداخت آنلاین</h5>
<div *ngFor="let bank of banks" class="form-check mb-3">
  <div *ngIf="bank.id === 1" class="d-flex align-items-center">
    <input
      class="form-check-input ms-2"
      type="radio"
      name="paymentMethod"
      [id]="bank.name"
      [value]="bank.paymentService"
      [(ngModel)]="selectedPaymentService"
      (change)="onPaymentServiceChange(selectedPaymentService)"
    >
    <img [src]="bank.logo" alt="logo" class="me-2" style="width: 50px;"> 
    <label class="form-check-label" [for]="bank.name">
      {{ bank.name }}
    </label>
  </div>
  <hr class="my-3">  
</div>


  

  <h5 class="mt-4">استفاده از کیف پول</h5>
  <div class="form-check">
    <input 
      class="form-check-input ms-3" 
      type="checkbox" 
      name="walletPayment" 
      id="walletPayment" 
      [(ngModel)]="useWalletCredit"
      (change)="onWalletPaymentChange()"
    >
    <label class="form-check-label d-flex align-items-center" for="walletPayment">
      اعتبار کیف پول ({{ availableCredit | currencyFormat }})
    </label>
  </div>

  <hr class="my-3">

  <div class="text-center mt-4">
    <p>مبلغ قابل پرداخت: {{ payableCost | currencyFormat }}</p>
    <button 
      type="submit" 
      class="btn btn-primary w-100"
      [disabled]="payableCost <= 0 && selectedPaymentMethod === 'wallet'"
    >
      {{ payableCost === 0 ? 'ثبت سفارش' : 'پرداخت' }}
    </button>
  </div>
</form>
