<div>
  <label class="form-label">{{title}}</label>
  <br>
  <input type="file" [id]="id" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png,.pdf" class="d-none">
  <button type="button" (click)="chooseFile()" class="btn-sm btn btn-primary mx-1">انتخاب فایل</button>
  <label>{{ selectedFile?.name ?? this.fileName }}</label>
  <button type="button" (click)="onUploadTemp()" class="btn-sm btn btn-secondary mx-1">
    <app-icon icon="bi-upload-16"></app-icon>
  </button>

  <div *ngIf="uploadedImageUrl$ | async">
    <img [src]="uploadedImageUrl$ | async" alt="تصویر" style="width: 100px; height: 50px"
    class="object-fit-cover rounded m-1"
      (click)="isUpdate ? onDownloadPersisted(savedFileId!) : onDownloadTemp(uploadResponse?.fileId ?? '')" />
    <button type="button" class="btn btn-danger d-flex justify-content-center align-items-center p-1 mx-1"
      (click)="isUpdate ? onDeletePersisted() : onDeleteTemp(uploadResponse?.fileId ?? '')">
      <app-icon icon="recycle-bin-16"></app-icon>
    </button>
  </div>
</div>
