<ng-container [formGroup]="form">
    <div class="vehicle-form__item vehicle-form__item--select" [ngClass]="{'vehicle-form__item--loading': loading.brands}">
        <select
            class="form-control"
            formControlName="brand"
            aria-label=""
            [attr.aria-label]="'INPUT_VEHICLE_YEAR_LABEL'|translate"
        >
            <option value="none">{{ 'INPUT_VEHICLE_YEAR_PLACEHOLDER'|translate }}</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.localizedName }}</option>
        </select>
        <div class="vehicle-form__loader"></div>
    </div>
    <div class="vehicle-form__item vehicle-form__item--select" [ngClass]="{'vehicle-form__item--loading': loading.families}">
        <select
            class="form-control"
            formControlName="family"
            aria-label=""
            [attr.aria-label]="'INPUT_VEHICLE_BRAND_LABEL'|translate"
        >
            <option value="none">{{ 'INPUT_VEHICLE_BRAND_PLACEHOLDER'|translate }}</option>
            <option *ngFor="let family of families" [value]="family.id">{{ family.localizedName }}</option>
        </select>
        <div class="vehicle-form__loader"></div>
    </div>
    <div class="vehicle-form__item vehicle-form__item--select" [ngClass]="{'vehicle-form__item--loading': loading.models}">
        <select
            class="form-control"
            formControlName="model"
            aria-label=""
            [attr.aria-label]="'INPUT_VEHICLE_MODEL_LABEL'|translate"
        >
            <option value="none">{{ 'INPUT_VEHICLE_MODEL_PLACEHOLDER'|translate }}</option>
            <option *ngFor="let model of models" [value]="model.id">{{ model.localizedName }}</option>
        </select>
        <div class="vehicle-form__loader"></div>
    </div>
    <div class="vehicle-form__item vehicle-form__item--select" [ngClass]="{'vehicle-form__item--loading': loading.Kinds}">
        <select
            class="form-control"
            formControlName="kind"
            aria-label=""
            [attr.aria-label]="'INPUT_VEHICLE_ENGINE_LABEL'|translate"
        >
            <option value="none">{{ 'INPUT_VEHICLE_ENGINE_PLACEHOLDER'|translate }}</option>
            <option *ngFor="let kind of Kinds" [value]="kind.id">{{ kind.localizedName }}</option>
        </select>
        <div class="vehicle-form__loader"></div>
    </div>
    <div class="vehicle-form__divider">{{ 'TEXT_OR'|translate }}</div>
    <div class="vehicle-form__item" [ngClass]="{'vehicle-form__item--loading': loading.vin}">
        <div class="vehicle-form__item-input">
            <input
                type="text"
                class="form-control"
                formControlName="vin"
                aria-label=""
                [attr.aria-label]="'INPUT_VIN_LABEL'|translate"
                [placeholder]="'INPUT_VIN_PLACEHOLDER'|translate"
            >
            <div class="vehicle-form__loader"></div>
        </div>
        <div class="vehicle-form__item-alert" *ngIf="this.value">
            <div class="alert alert-sm alert-primary my-0" *ngIf="this.value">
                {{ 'TEXT_ALERT_VEHICLE_FOUND'|translate:{
                    brand: this.value.year,
                    family: this.value.make,
                    model: this.value.model,
                    kind: this.value.engine
                } }}
            </div>
        </div>
        <div class="alert alert-sm alert-danger my-0" *ngIf="this.errors.vin">
            {{ 'TEXT_ALERT_UNABLE_TO_FIND_VEHICLE_BY_VIN'|translate }}
        </div>
        
    </div>
</ng-container>
