<app-block-space layout="spaceship-ledge-height"></app-block-space>

<div class="block faq">
    <div class="container container--max--xl">
        <div class="faq__header">
            <h1 class="faq__header-title">سوالات پرتکرار</h1>
        </div>

        <div class="faq__section col-md-12">
            <h3 class="faq__section-title">اطلاعات حمل و نقل</h3>
            <div class="faq__section-body">

                <div class="faq__question col-md-6" *ngFor="let shippingQuestion of shippingQuestions">
                    <h5 class="faq__question-title">{{shippingQuestion.questionText}}</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>
                                {{shippingQuestion.answerText}}
                            </p>
                        </div>
                    </div>
                </div>  
            </div>
        </div> 
                
        <div class="faq__section col-md-12">
            <h3 class="faq__section-title ">اطلاعات پرداخت</h3>
            <div class="faq__section-body">
                <div class="faq__question col-md-6" *ngFor="let paymentQuestion of paymentQuestions">
                    <h5 class="faq__question-title">{{paymentQuestion.questionText}}</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>
                                {{paymentQuestion.answerText}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
   
        

        <div class="faq__section col-md-12">
            <h3 class="faq__section-title">سفارش ها و بازگشت کالا</h3>
            <div class="faq__section-body">
                <div class="faq__question col-md-6" *ngFor="let ordersandReturnsQuestion of ordersandReturnsQuestions">
                    <h5 class="faq__question-title">{{ordersandReturnsQuestion.questionText}}</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>
                                {{ordersandReturnsQuestion.questionText}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq__footer">
            <div class="faq__footer-title">همچنان سوال دارید؟</div>
            <div class="faq__footer-subtitle">ما با کمال میل به هر سوالی پاسخ می دهیم.</div>
            <a [routerLink]="url.contacts()" class="btn btn-primary">ارتباط با ما</a>
        </div>
    </div>


<app-block-space layout="before-footer"></app-block-space>
