<div class="card" *ngIf="order">
    <div class="order-header">
      <div class="order-header__actions">
        <div class="order-header__actions custom-align-left mb-2">
            <a routerLink="/account/orders" class="btn btn-secondary btn-sm">
                {{ 'BUTTON_BACK_TO_LIST' | translate }}
            </a>
        </div>
        <div class="order-header__actions custom-align-left mb-2">
            <a *ngIf="currentOrderState == 0" routerLink="/account/orderpayment/{{order.id}}" class="btn btn-primary btn-sm">
                {{ 'PAY_ORDER' | translate }}
            </a>
        </div>
        <div class="order-header__actions custom-align-left mb-2">
            <button *ngIf="currentOrderState == 0" (click)="openDeleteConfirmationModal(deleteConfirmationTemplate)" class="btn btn-secondary btn-sm" [disabled]="isDeleting">
                <ng-container *ngIf="isDeleting; else deleteText">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    در حال حذف...
                </ng-container>
                <ng-template #deleteText>
                    حذف سفارش
                </ng-template>
            </button>
        </div>
        <div class="order-header__actions custom-align-left mb-2">
          <button *ngIf="currentOrderState == 0" (click)="updateOrder(order.id)" class="btn btn-primary btn-sm" [disabled]="isUpdating">
            <ng-container *ngIf="isUpdating; else updateText">  
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              در حال به روز رسانی...
            </ng-container>
            <ng-template #updateText>
              به روز رسانی
            </ng-template>
          </button>
        </div>
        
<div *ngIf="showPopup" class="modal fade show" tabindex="-1" style="display: block;" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">پیام سیستم</h5>
        <button type="button" class="btn-close" aria-label="بستن" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        <p>{{ popupMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closePopup()">تایید</button>
      </div>
    </div>
  </div>
</div>

        
        <div class="order-header__actions custom-align-left mb-2">
            <a class="btn btn-secondary btn-sm" routerLink="/account/invoice/{{order.id}}">
                مشاهده فاکتور
            </a>
        </div>
        <div class="order-header__actions custom-align-left mb-2">
            <button class="btn btn-primary btn-sm" (click)="openPaymentsModal(paymentsTemplate)">
                مشاهده پرداخت‌ها
            </button>
        </div>
    </div>
      <h5 class="order-header__title">{{ 'TEXT_ORDER_WITH_NUMBER' | translate: { number: orderNumber } }}</h5>

      <ng-template #paymentsTemplate>
        <div class="modal-header">
          <h5 class="modal-title">جزئیات پرداخت‌ها</h5>
          <button type="button" class="close ml-1" (click)="closePaymentsModal1()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>مبلغ</th>
                <th>نوع پرداخت</th>
                <th *ngIf="hasOnlinePayment()">عملیات</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of payments">

                <td>{{ (payment.amount ?? 0)/10 | currencyFormat }}</td>
                <td>{{ getPaymentTypeName(payment.paymentType ?? 0) }}</td>
                <td *ngIf="getPaymentTypeName(payment.paymentType ?? 0) === 'آنلاین'">
                  <button class="btn btn-link" (click)="showPaymentDetailsModal(payment)">مشاهده جزئیات</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      
      <ng-template #paymentDetailsTemplate>
        <div class="modal-header">
          <h5 class="modal-title">جزئیات پرداخت آنلاین</h5>
          <button type="button" class="close ml-2" (click)="closePaymentsModal()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedPayment; else noPayment" class="payment-details">
            <div><strong>نوع درگاه پرداخت:</strong> {{ selectedPayment.paymentServiceTypeName }}</div>
            <div><strong>وضعیت:</strong> {{ selectedPayment.statusName }}</div>
            <div><strong>شماره پیگیری شبکه بانکی:</strong> {{ selectedPayment.rrn }}</div>
            <div><strong>شماره ارجاع:</strong> {{ selectedPayment.refId }}</div>
            <div><strong>شماره تراکنش سوییچ:</strong> {{ selectedPayment.payGateTranId }}</div>
            <div><strong>خطا:</strong> {{ selectedPayment.error ?? '-' }}</div>
          </div>
          
          <ng-template #noPayment>
            <p>جزئیات پرداخت یافت نشد.</p>
          </ng-template>
          
        </div>
      </ng-template>
      
      <div *ngFor="let state of this.orderStateHistory;"
        class="order-header__subtitle"
        [innerHTML]="'TEXT_ORDER_SUMMARY'|translate:{
            date: state.created,
            status: state.orderStatus,
            details: state.details
        }">
      </div>
      <div
        class="order-header__subtitle"
        [innerHTML]="'TEXT_ORDER_CURRENT_SUMMARY'|translate:{
            date: this.currentOrderStateBase.created,
            status: this.currentOrderStateBase.orderStatus,
            details: this.currentOrderStateBase.details
        }">
      </div>
    </div>
  
    <div class="card-divider"></div>
      <div class="card-table">
      <div class="table-responsive-sm">
        <table>
          <thead>
            <tr>
              <th>{{ 'TABLE_PRODUCT'|translate }}</th>
              <th>{{ 'TABLE_TOTAL'|translate }}</th>
            </tr>
          </thead>
          <tbody class="card-table__body card-table__body--merge-rows">
            <tr *ngFor="let item of order.items">
              <td>{{ item.product.name }} × {{ item.quantity }}</td>
              <td>{{ item.total|currencyFormat }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="order.totals.length > 0" class="card-table__body card-table__body--merge-rows">
            <tr>
              <th>{{ 'TABLE_SUBTOTAL'|translate }}</th>
              <td>{{ order.subtotal|currencyFormat }}</td>
            </tr>
            <tr *ngFor="let total of order.totals">
              <th>{{ total.title|translate }}</th>
              <td>
                <div *ngIf="total.type !== 'freeShipping' && total.type !== 'discountOnProduct' && total.type !== 'discountOnCustomerType'">
                  {{ total.price|currencyFormat }}
                </div>
                <div *ngIf="total.type === 'freeShipping'">
                  رایگان
                </div>
                <div *ngIf="total.type === 'discountOnProduct'">
                  {{ total.price*-1|currencyFormat }}
                </div>
                <div *ngIf="total.type === 'discountOnCustomerType'">
                  {{ total.price*-1|currencyFormat }}
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>{{ 'TABLE_TOTAL'|translate }}</th>
              <td>{{ order.total|currencyFormat }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- todo: delete  true -->
      <a *ngIf="[5, 10].includes(currentOrderState) || true"
        class="btn btn-primary btn-sm"
        routerLink="/account/returnOrder/{{order.id}}">
        ثبت سفارش مرجوعی
      </a>
    </div>
  </div>
  <ng-template #deleteConfirmationTemplate>
    <div class="modal-header custom-modal-header">
      <h4 class="modal-title mb-0">آیا از حذف سفارش مطمئن هستید؟</h4>
      <button type="button" class="close custom-close-btn ml-1" (click)="deleteModalRef?.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>لطفاً انتخاب کنید که آیا مطمئن به حذف این سفارش هستید.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="deleteModalRef?.hide()">خیر</button>
      <button type="button" class="btn btn-danger" (click)="confirmDeleteOrder()">بله</button>
    </div>
  </ng-template>

  <div class="row mt-3 no-gutters mx-n2">
    <div *ngIf="order" class="col-sm-6 col-12 px-2">
      <app-address-card [address]="order.orderAddress" [featured]="true" [label]="'TEXT_BILLING_ADDRESS'|translate"></app-address-card>
    </div>
  </div>

