<ng-template #sidebar>
    <div class="post-view__item post-view__item-sidebar">
        <app-blog-sidebar></app-blog-sidebar>
    </div>
</ng-template>

<div class="block post-view">
    <div class="post-view__header post-header" [ngClass]="{'post-header--has-image': hasImage}">
        <div
            *ngIf="hasImage"
            class="post-header__image"
            [ngStyle]="{
                'background-image': 'url(assets/images/posts/post-1.jpg)'
            }"
        ></div>
        <div class="post-header__body">
            <div class="post-header__categories">
                <ul class="post-header__categories-list">
                    <li class="post-header__categories-item">
                        <a href="" class="post-header__categories-link">آخرین خبرها</a>
                    </li>
                </ul>
            </div>
            <h1 class="post-header__title">با نقش فیلتر هوا در خودرو آشنا شوید</h1>
            <div class="post-header__meta">
                <ul class="post-header__meta-list">
                    <li class="post-header__meta-item">توسط <a href="" class="post-header__meta-link">جسیکا مور</a></li>
                    <li class="post-header__meta-item">20 مهر 1401</li>
                    <li class="post-header__meta-item"><a href="" class="post-header__meta-link">4 کامنت</a></li>
                </ul>
            </div>
        </div>
        <app-decor class="post-header__decor" type="bottom"></app-decor>
    </div>

    <div class="container">
        <div class="post-view__body">
            <ng-container *ngIf="sidebarPosition === 'start'">
                <ng-container *ngTemplateOutlet="sidebar"></ng-container>
            </ng-container>
            <div class="post-view__item post-view__item-post">
                <div class="post-view__card post">
                    <div class="post__body typography">
                        <p>
                            کیفیت در رنو، اصلی بدیهی و غیر قابل مذاکره است. از همین رو خودروهای تولیدی رنو در ایران نیز همیشه در صدر با کیفیت‌ترین محصولات قرار دارند. طبق آخرین گزارش‌های شرکت بازرسی کیفیت و استاندارد ایران، رنو ساندرو و رنو تندر 90 با داشتن ۴ ستاره کیفیت، با کیفیت‌ترین محصولات در بازه قیمتی خود هستند. پس از آن تندر۹۰ پیکاپ، تنها وانت سه ستاره تولید داخل و با کیفیت‌ترین در میان رقبای خود شناخته می‌شود
                        </p>
                        <p>
                            رنو به ورزش های موتوری متعهد است، چرا که پیست مسابقه بهترین آزمایشگاه برای تولید راه حل های فنی جدید، نمایش کارایی و سنجش قابلیت اطمینان است. هروقت رنو در مسابقه ای شرکت می کند، تکنولوژی برتر در تولید خودرو ها به کاربرده می شود تا مشتریان بتوانند از کارایی بهبود یافته، قابلیت اطمینان وبازدهی آن سود ببرند.
                        </p>
                        <blockquote>
                            <p>
                                مسابقات جهانی فرمول یک این هفته نیز ادامه داشت و تیم فرمول یک آلپاین با شرکت در گرندپری اسپانیا توانست به دو امتیاز دست پیدا کند.

                                در این رقابت استبان اوکون از تیم آلپاین توانست با قرار گرفتن در جایگاه نهم دو امتیاز کسب کند و این در حالی بود که فرناندو آلونسو با کسب جایگاه هفدهم پیست کاتالونیا را دست خالی ترک کرد.
                            </p>
                            <p><cite>جان مکارتی</cite></p>
                        </blockquote>
                        <p>
                            در بعد از ظهر دشوار در بارسلونا، تیم برای یک استراتژی توقف یک مرحله ای برای هر دو اتومبیل برنامه ریزی کرد، که در نهایت به چالش کشیدن برای مراحل بعدی مسابقه افزایش یافت. استبان موفق شد جایگاه نهم را تا زمان گذشتن از خط پایان حفظ کند و این در حالی اتفاق افتاد که فرناندو در نتیجه تخریب بالای لاستیک های مدیوم خود در مرحله دوم، دچار مشکل شد.
                        </p>
                        <h2>تیم فرمول یک آلپین با ۲ امتیاز اسپانیا را ترک کرد</h2>
                        <p>
                            بعد از مسابقه تعیین خط عالی روز قبل، استبان شروع خوبی را از جایگاه پنجم آغاز کرد، اما در دور ابتدایی دو مکان را از دست داد. فرناندو نیز مسابقه را از خط دهم شروع کرد و نبرد لحظه به لحظه و نفس گیری را با رانندگان دیگر داشت تا جایگاه خود را حفظ کند.
                        </p>
                        <p>
                            فرناندو آلونسو نیز که در خط شروع در جایگاه نهم قرار داشت و در خط 17 به کار خود پایان داد نیز گفت:  "جایی نبود که امروز می خواستیم به پایان برسانیم اما فکر می کنم آخر هفته بطور کلی مثبت بود. ما عملکرد خوبی از ماشین داشتیم و قطعاً در مسیر درست پیش می رویم. در پرتغال سریع بودیم، اما نمی دانستیم که مخصوص این مسیر نیز هست یا خیر، بنابراین پیشرفت ما در این آخر هفته نشان می دهد که در مکان خوبی هستیم. امروز ما نبردهای سرگرم کننده ای داشتیم و من از مسابقه لذت بردم، اما در آخر با لاستیک های مدیوم نتوانستیم ادامه دهیم. ما باید چیز متفاوتی را امتحان کنیم و نتیجه ای نگرفت. ما دوباره به موناکو خواهیم رفت و آنجا سرگرم خواهیم شد.
                        </p>
                        <p>
                            <strong>فیلتر هوا:</strong> <a href="">بدون وجود هوای کافی فرایند احتراق به خوبی انجام نمی شود و بازدهی خودرو نیز کاهش می یابد</a>
                        </p>

                        <figure>
                            <a href="">
                                <img src="assets/images/posts/post-3.jpg" alt="">
                            </a>
                            <figcaption>همانطور که می دانید نقش هوا در عملکرد خودروهای احتراق داخلی از اهمیت بسیار زیادی برخوردار است. .</figcaption>
                        </figure>

                        <p>
                            هوایی که به داخل محفظه احتراق ارسال می شود از محیط حرکت خودرو مکش بوده و در نتیجه در این هوا علاوه بر اکسیژن ذرات مختلفی مانند شن، ماسه، گرد و غبار، ذرات ریز، دوده، رطوبت، گرده گیاهان و... وجود دارد که در صورت ورود به محفظه احتراق می تواند ضمن کاهش بازدهی این فرایند آسیب های جدی به خودرو وارد کند.
                        </p>
                        <p>
                            همچنین آلاینده های موجود در هوا می توانند نقایص مختلفی مانند خوردگی پیستون و دیوار سیلندر را در موتور ایجاد کنند. به علاه آلاینده های جامد نیز می توانند موجب خوردگی و پارگی اجزای مختلف موتور شوند. بنابراین و به منظور فیلتراسیون این هوای ورودی به موتور از فیلتر هوا استفاده می شود تا حد امکان جلوی ورود ذرات مضر به داخل موتور را بگیرد.
                        </p>
                        <hr>
                        <h2>Nunc Dapibus Varius Ligula</h2>
                        <p>
                            معمولاً مالکین خودرو علی رغم اینکه فیلتر هوا نقش بسیار مهمی در افزایش عمر و عملکرد مفید موتور خودروی آنها دارد به آن توجه زیادی نمی کنند و شاید مدت ها در تعویض آن تاخیر ایجاد کنند. فیلترهای هوا از آنجایی که قطعه ای مصرفی به حساب می آیند عمر محدودی دارند و با توجه به محیط کارکرد خودرو، ذرات موجود در هوا بر روی کاغذ فیلتر انباشته شده و با بالا رفتن مقاومت فیلتر در مقابل جریان هوای ورودی، عملکرد موتور خودرو دچار اختلال می شود و علاوه بر آن ممکن است افزایش مصرف سوخت و کاهش قدرت موتور را به همراه داشته باشد.
                        </p>
                        <p>
                            بهینه سازی مصرف سوخت:
                        </p>
                        <ol>
                            <li>
                                 <strong>همه مالکان خودرو تمایل دارند که خودرو آنها مصرف سوخت بهینه داشته باشد</strong> تا هزینه کمتری در طی مسافت بیشتر پرداخت نمایند و تعداد دفعات مراجعات آنها به پمپ بنزین کاهش یابد.
                            </li>
                            <li>
                                تاخیر در تعویض فیلتر هوای موتور می تواند مصرف سوخت ماشین شما را تا ۲۵ درصد افزایش دهد. فیلتر‌های هوا در خودرو دارای تنوع هستند و به هنگام تعویض خودرو باید دقت کرد که کدام یک از آن‌ها برای خودرو مناسب‌تر هستند.
                            <li>
                                <strong>ضمن اینکه استهلاک قطعات و سیستم های خودرو نیز به میزان قابل توجهی کاهش یابد</strong>.  رنو در این خصوص موارد زیر را به شما توصیه می کند
                                از  افزایش یا کاهش غیر ضروری سرعت خودرو خودداری نمایید. این امر منجر به افزایش میزان سوخت و همچنین استهلاک سیستم ترمز می گردد.
                            </li>
                        </ol>
                        <p>
                            پیشنهاد می شود اگر در مناطق پر گرد و غبار زندگی می کنید فیلتر هوا هر ۵۰۰۰ کیلومتر تعویض شود اما در هوای معمولی فیلتر هوا تا ۷ الی ۱۰ هزار کیلومتر نیز می تواند به صورت مناسبی عملکرد خود را انجام دهد.
                        </p>
                    </div>

                    <div class="post__pagination">
                        <div class="post__pagination-title">
                            صفحات
                        </div>
                        <div class="post__pagination-list">
                            <ul>
                                <li><span class="post__pagination-link post__pagination-link--current">1</span></li>
                                <li><a href="" class="post__pagination-link">2</a></li>
                                <li><a href="" class="post__pagination-link">3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="post__footer">
                        <div class="post__tags tags tags--sm">
                            <div class="tags__list">
                                <a href="">ترویج</a>
                                <a href="">ابزار قدرت</a>
                                <a href="">آچار</a>
                                <a href="">الکترود</a>
                            </div>
                        </div>
                        <app-share-links class="post__share-links"></app-share-links>
                    </div>

                    <div class="post__author">
                        <div class="post__author-avatar">
                            <img src="assets/images/avatars/avatar-4.jpg" alt="">
                        </div>
                        <div class="post__author-info">
                            <div class="post__author-name">
                                رایان فورد
                            </div>
                            <div class="post__author-about">
                                مستندات عیب‌یابی و تعمیراتی خودرو چیست و چه کاربردی دارند؟
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-view__card post-navigation">
                    <div class="post-navigation__body">
                        <a class="post-navigation__item post-navigation__item--prev" href="">
                            <div class="post-navigation__item-image">
                                <img [src]="posts[1].image" alt="">
                            </div>
                            <div class="post-navigation__item-info">
                                <div class="post-navigation__direction">
                                    <div class="post-navigation__direction-arrow">
                                        <app-icon icon="arrow-rounded-left-7x11"></app-icon>
                                    </div>
                                    <div class="post-navigation__direction-title">
                                        پست قبلی
                                    </div>
                                </div>
                                <div class="post-navigation__item-title">
                                    {{ posts[1].title }}
                                </div>
                            </div>
                        </a>

                        <a class="post-navigation__item post-navigation__item--next" href="">
                            <div class="post-navigation__item-info">
                                <div class="post-navigation__direction">
                                    <div class="post-navigation__direction-title">
                                        پست بعدی
                                    </div>
                                    <div class="post-navigation__direction-arrow">
                                        <app-icon icon="arrow-rounded-right-7x11"></app-icon>
                                    </div>
                                </div>
                                <div class="post-navigation__item-title">
                                    {{ posts[2].title }}
                                </div>
                            </div>
                            <div class="post-navigation__item-image">
                                <img [src]="posts[2].image" alt="">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="post-view__card">
                    <h2 class="post-view__card-title">تعداد کامنت ها ({{ comments.count }})</h2>

                    <div class="post-view__card-body comments-view">
                        <app-comments-list class="comments-view__list" [comments]="comments.items"></app-comments-list>

                        <div class="comments-view__pagination">
                            <app-pagination></app-pagination>
                        </div>
                    </div>
                </div>

                <div class="post-view__card">
                    <h2 class="post-view__card-title">کامنت بگذارید</h2>

                    <form class="post-view__card-body">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="comment-first-name">نام</label>
                                <input type="text" class="form-control" id="comment-first-name" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="comment-last-name">نام خانوادگی</label>
                                <input type="text" class="form-control" id="comment-last-name" placeholder="Last Name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="comment-email">آدرس ایمیل</label>
                                <input type="email" class="form-control" id="comment-email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment-content">کامنت</label>
                            <textarea class="form-control" id="comment-content" rows="6"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-primary mt-md-4 mt-2">ارسال کامنت</button>
                        </div>
                    </form>
                </div>
            </div>
            <ng-container *ngIf="sidebarPosition === 'end'">
                <ng-container *ngTemplateOutlet="sidebar"></ng-container>
            </ng-container>
        </div>
    </div>
</div>

<app-block-space layout="before-footer"></app-block-space>
