<h5 class="footer-contacts__title">{{ 'HEADER_CONTACT_US'|translate }}</h5>

<div class="footer-contacts__text">{{ (info | async )?.contactUsMessage }}</div>

<address class="footer-contacts__contacts">
    <dl>
        <dt>{{ 'TEXT_PHONE_NUMBER'|translate }}</dt>
        <dd *ngFor="let item of (info | async )?.phoneNumbers">{{ item }}</dd>
    </dl>
    <dl>
        <dt>{{ 'TEXT_EMAIL_ADDRESS'|translate }}</dt>
        <dd *ngFor="let item of (info | async )?.emailAddresses">{{ item }}</dd>
    </dl>
    <dl>
        <dt>{{ 'TEXT_OUR_LOCATION'|translate }}</dt>
        <dd *ngFor="let item of (info | async )?.locationAddresses">{{ item }}</dd>
    </dl>
    <dl>
        <dt>{{ 'TEXT_WORKING_HOURS'|translate }}</dt>
        <dd *ngFor="let item of (info | async )?.workingHours">{{ item }}</dd>
    </dl>
</address>
