<div class="about">
    <div class="about__body">
        <div class="about__image">
            <div
                class="about__image-bg"
                [ngStyle]="{
                    'background-image': 'url(' + imageContent + ')'
                }"
            ></div>
            <app-decor class="about__image-decor" type="bottom"></app-decor>
        </div>

        <div class="about__card">
            <div class="about__card-title">درباره ما</div>
            <div class="about__card-text">
            {{textContent}}
            </div>
            <!-- <div class="about__card-author">مهندس خاکی</div>
            <div class="about__card-signature">
                <img src="assets/images/signature.jpg" width="160" height="55" alt="">
            </div> -->
        </div>

        <div class="about__indicators">
            <div class="about__indicators-body">
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">25</div>
                    <div class="about__indicators-item-title">نمایندگی در ایران</div>
                </div>
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">000 6</div>
                    <div class="about__indicators-item-title">محصول اصلی</div>
                </div>
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">000 70</div>
                    <div class="about__indicators-item-title">مشتری</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-block-space layout="divider-xl"></app-block-space>

<app-block-teammates></app-block-teammates>

<app-block-space layout="divider-xl"></app-block-space>

<app-block-reviews></app-block-reviews>

<app-block-space layout="before-footer"></app-block-space>
