<div *ngIf="widgetTitle" class="widget__header">
    <h4>{{ widgetTitle }}</h4>
</div>
<div class="widget-tags__body tags">
    <div class="tags__list">
        <a href="">ترویج</a>
        <a href="">ابزار قدرت</a>
        <a href="">تازه ها</a>
        <a href="">اچار پیچ گوشتی</a>
        <a href="">اچار فرانسه</a>
        <a href="">سواری</a>
        <a href="">الکترود</a>
        <a href="">اره برقی</a>
        <a href="">مانومتر</a>
        <a href="">میخ</a>
        <a href="">تفنگ بادی</a>
        <a href="">دیسک های برش</a>
    </div>
</div>
