@import 'functions';

// ----------------------------------------------------------
// -- You can add your variables to overwrite default values.
// ----------------------------------------------------------

$body-font-size:    15px                   !default;
// Change main theme color
$theme-scheme: (
   main:  #FDE900, // main theme color
   muted: #333, // muted text color
);
// How to define your own scheme and use it?
$theme-scheme: (
   name:        theme,              // scheme name
   // colors
   main:         #fde900,                // usually background color
   opposite:     #666666,                   // font color
   opposite-alt: #fafafa,                   // alternative font color
   muted:        #777777,                // muted font color
   icon-color:   #fafafa,                   // for example: cart icon, heart (wishlist) icon, etc.
);
$accent-scheme: () !default;
$accent-scheme: register-scheme(map_merge((
   name:         accent,
   // colors
   main:         #fde900,
   opposite:     #242424,
), $accent-scheme));
// ----------------------------------------

$shop-features-icon-color: map_get($theme-scheme, opposite) !default;
// to use a schema by name, you must first register it
//$my-scheme: register-scheme($my-scheme);
// now we can apply our scheme, for example, to the menu
//$menu-small-scheme-based-on: my-scheme;

// You can also customize built in scheme
//$dark-scheme: (
//    main:        #4d323f,
//    muted:       #b89caa,
//    arrow-color: rgba(#fff, .25),
//);


// [KEY]-font-weight-map
// As you know on screens with a small pixel density, text with the same font-weight value,
// looks thicker on a black background than on a white background. This construction helps solve this problem.
//
//     $my-scheme: (
//         main:     #000,
//         opposite: #fff,
//         opposite-font-weight-map: (500: 400),
//     );
//
// The base-font-weight value should answer the question: What will be the font-weight of black text on a white background?
//
//     $base-font-weight: 500;
//
//     div {
//         @include scheme-font-weight($my-scheme, opposite, $base-font-weight);
//     }
//
// this will compiled into:
//
//     div {
//         font-weight: 500;
//     }
//     @media (max-resolution: 1dppx) {
//         font-weight: 400;
//     }
//
// if opposite-font-weight-map == null or undefined then, this will compiled into:
//
//     div {
//         font-weight: 500;
//     }
//
// Thus, in one place we can control the font-weight depending on the color scheme used,
// without the need to change the font-weight in all style files.


// How to change form-control (input) scheme
$form-control-default-scheme: (
   normal-bg-color: #ffffff,
   normal-border-color: #d9d9d9,

   hover-border-color: #bfbfbf,
   focus-border-color: #bfbfbf,
);

// How to change button scheme
// 
$btn-primary-scheme: (
   normal-bg-color: #fde900,
   normal-font-color: #666666,

   hover-bg-color: #333333,
   hover-font-color: #fff,

   active-bg-color: lighten(#fde900, 8%),
   active-font-color: #666666,

   loader-color:      #fff,
);
// $header-scheme:(
//     main: #5c0606,
//     opposite:  #efedfa,
// );
// $footer-scheme:(
//     main: #5c0606,
// );



//@import 'themes/theme-red/theme-variables';
//@import 'themes/theme-blue/theme-variables';
//@import 'themes/theme-green/theme-variables';
@import 'themes/theme-orange/theme-variables';
// @import 'themes/theme-violet/theme-variables';
