// --------------------------------------------------------------------------
// -- You can add your custom CSS here and it will overwrite template styles.
// --------------------------------------------------------------------------
@font-face {
    font-family: IranSans;



    src: url('../assets/fonts/iran-sans//eot/IRANSansWeb(FaNum).eot');
    src: url('../assets/fonts/iran-sans//eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/iran-sans//woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
         url('../assets/fonts/iran-sans//woff/IRANSansWeb(FaNum).woff') format('woff'),
         url('../assets/fonts/iran-sans//ttf/IRANSansWeb(FaNum).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('../assets/fonts/iran-sans//eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../assets/fonts/iran-sans//eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/iran-sans//woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
         url('../assets/fonts/iran-sans//woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
         url('../assets/fonts/iran-sans//ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('../assets/fonts/iran-sans//eot/IRANSans(FaNum)_Medium.eot');
    src: url('../assets/fonts/iran-sans//eot/IRANSans(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/iran-sans//woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
         url('../assets/fonts/iran-sans//woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
         url('../assets/fonts/iran-sans//ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('../assets/fonts/iran-sans//eot/IRANSans(FaNum)_Medium.eot');
    src: url('../assets/fonts/iran-sans//eot/IRANSans(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/iran-sans//woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
         url('../assets/fonts/iran-sans//woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
         url('../assets/fonts/iran-sans//ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: IranSans;
    src: url('../assets/fonts/iran-sans//eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../assets/fonts/iran-sans//eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/iran-sans//woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
         url('../assets/fonts/iran-sans//woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
         url('../assets/fonts/iran-sans//ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: .25rem;
    border-color: #c2c2c2;
    
  }
  
  .form-label-group > input{
    height: 45px;
    background-color: transparent;
    padding-top: 20px;
  }
  .form-label-group > span{
    top: 15px;
    left: 0;
  }
  
  .form-label-group > label {
    position: absolute;
    top: 50%;
    right: 5px;
    width: auto;
    margin-bottom: 0;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    transform: translateY(-50%);
    font-size: .85rem;
  }
  .form-label-group input.is-invalid  ~ label{
    position: absolute;
    top: 50%;
    border: 1px solid transparent;
    transform: translateY(-90%);
  }
  
  .form-label-group input:focus ~ label,
  .form-label-group input:not(:placeholder-shown) ~ label {
    top: 7px;
    right: 5px;
    padding: 0 5px;
    font-size: 12px;
    display: inline;
    color: #777;
    background-color: #fff;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }

